.chat-b .toolbar.messagebar .messagebar-area textarea {
    max-height: calc(100vh - 100px - 66px) !important;
}

.big-links-horizontal .big-links-image {
/*-ms-flex: 0 0 (136px + 16);*/
/*flex: 0 0 (136px + 16);*/
/*width: 136px + 16;*/
    -ms-flex: 0 0 calc(50% + 8px);
    flex: 0 0 calc(50% + 8px);
    width: calc(50% + 8px);
}

.teaser-iib-item {
    width: calc(100vw - 8px - 16px);
    max-width: calc(640px - 8px - 16px);
}

.teaser-iib-item.teaser-iib-item-fullwidth {
    width: 100%;
    max-width: 100%;
}
.list-teaser-big {
    max-width: calc(640px);
}

/*.preloader-inlist-loader {*/
     /*top: calc(50% - 30px);*/
/*}*/

.header-user-name {
    max-width: calc(100% - 52px - 12px);
}