body {
  font-family: 'SFProDisplay', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.clearfix {
  &:after {
    display : block;
    clear : both;
    content : "";
  }
}

.d-h {
  position: absolute;
  zoom: 1;
  overflow: hidden;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  text-align: left;
  text-indent: -9999px;
  opacity: 0;
  div {
    left: 100px;
    right: 100px;
    width: 0;
    height: 0;
    position: absolute;
    overflow: hidden;
  }
}

.d-f {
  display: flex;
}
.d-f-wrap {
  flex-wrap: wrap;
}
//.d-f-center {
//  align-items: center;
//  justify-content: center;
//  text-align: center;
//}
.d-f-inner-p100 {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
//.d-f-inner-right {
//  margin-left: auto;
//}
//
//.d-t {
//  display: table;
//}
//.d-tr {
//  display: table-row;
//}
//.d-tc {
//  display: table-cell;
//}
//
//.va-t {
//  vertical-align: top;
//}
//
.w-p100 {
  width: 100%;
}

.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mb-xxs {
  margin-bottom: 4px !important;
}
.mr-xxs {
  margin-right: 4px !important;
}
.ml-xxs {
  margin-left: 4px !important;
}
.mr-xs {
  margin-right: 8px !important;
}
.ml-xs {
  margin-left: 8px !important;
}
.mb-indent {
  margin-bottom: 16px + 8 !important;
}
//.mt-sm {
//  margin-top: 8px * 2 !important;
//}
//.mt-md {
//  margin-top: 8px * 3 !important;
//}
.mt-lg {
  margin-top: 8px * 4 !important;
}
.mb-lg {
  margin-bottom: 8px * 4 !important;
}
//.mb-xl {
//  margin-bottom: 8px * 5 !important;
//}
.mb-xxl {
  margin-bottom: 8px * 6 !important;
}


.md .inv-body a {
  color: #000000;
}

.app-preloader {
  background: fade(#16d9d9, 80%);
  z-index: 9999999;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  ~ * {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  img {
    display: block;
    position: relative;
    width: 100%;
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .preloader {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 44px;
    height: 44px;
  }
}

.header-logo {
  width: 195px;
  height: 31px;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  background: url('../images/logo.png') 50% 50% no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  .device-retina & {
    background-image: url('../images/logo@2x.png');
  }
  .app-preloader & {
    background-image: url('../images/logo-inv.png');
    .device-retina & {
    background-image: url('../images/logo-inv@2x.png');
  }
  }
}

.header-logo-sm {
  width: 112px;
  height: 18px;
  margin-top: 4px;
  background-image: url('../images/logo-sm.png');
  .device-retina & {
    background-image: url('../images/logo-sm@2x.png');
  }
}

.d-block{
  display: block !important;
  .item-after& {
    padding-left: 0 !important;
  }
}

.ml-a {
  margin-left: auto;
}

html .view,
html .panel {
  .navbar-logo {
    height: 100px;
  }
  .navbar-logo ~ .page-content { // .page-navbar-logo
    padding-top: 100px;
  }
  .item-input-wrap:after {
    bottom: -8px;
    background: #16d9d9;
  }
  .link-lg {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .toolbar
  .toolbar.tabbar {
    height: 46px;
    background: #000000;
    color: #fff;
  }
  .navbar + .toolbar.tabbar:not(.toolbar-bottom-md):not(.messagebar) ~ * .page-content, .navbar + .toolbar.tabbar:not(.toolbar-bottom-md):not(.messagebar) ~ .page-content {
    padding-top: 44px + 46;
  }
  .toolbar-bottom-user {
    height: 103px;
  }
  .toolbar-bottom-user ~ * .page-content, .toolbar-bottom-user ~ .page-content {
    padding-bottom: 103px;
  }
  .navbar {
    .left, .right {
      padding-left: 0;
      padding-right: 0;
      a.link {
        min-width: 44px;
        padding-left: 0;
        padding-right: 0;
      }
    }
    //.left {
    //  padding-left: 16px;
    //  padding-right: 8px;
    //  //a.link {
    //  //  + a.link {
    //  //    padding-left: 0;
    //  //  }
    //  //}
    //}
    //.right {
    //  padding-left: 8px;
    //  padding-right: 16px;
    //  //a.link {
    //  //  + a.link {
    //  //    padding-right: 0;
    //  //  }
    //  //}
    //}
  }
  .content-bg-white {
    background: #fff;
  }

  //.toolbar-bottom-md.toolbar-progress {
  //  padding-top: 100px - 63;
  //  height: 100px;
  //  .toolbar-inner {
  //    height: 63px;
  //    top: auto;
  //    bottom: 0;
  //  }
  //  ~ .page-content {
  //    padding-bottom:  100px;
  //  }
  //}

  .toolbar-bottom-md.toolbar-progress-only {
    //height: 100px - 63;
    height: 7px;
    ~ .page-content {
      //padding-bottom:  100px - 63;
      padding-bottom:  7px;
    }
  }

  .caret {
    color: @brand-link;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    margin: -5px;
    display: inline-block;
  }
}

.radio_buttons {
  //margin: 15px 0;
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .radio_buttons-item {
    float: left;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  &-glue .radio_buttons-item {
    margin-right: 0;
  }
  input {
    position: absolute;
    left: -9999px;
  }
  label {
    display: block;
    font-size: 13px;
    color: #008c8c;
    background: #ffffff;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: 400;
  }
  &-lg label {
    padding: 0 13px;
    height: 31px;
    line-height: 31px;
  }
  input:checked + label {
    color: #000;
    background: #ffec57;
  }
}

.toolbar-progress-inner {
  position: absolute;
  //top: (100px - 63 - 5) / 2;
  top: 2px;
  left: 16px - 3;
  right: 16px - 3;
  display: flex;
}
.toolbar-progress-link {
  flex: 1 1 auto !important;
  border: 3px solid #11a6a6;
  border-width: 1px 3px;
  background: #13bfbf;
  height: 3px;
  &-active {
    background: #ffffff;
  }
}

.wrap-content-indents {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  //.page-place-description {}
}

.inv-header {
  position: relative;
  zoom: 1;
  margin-left: -16px;
  margin-right: -16px;
  div {
    box-sizing: border-box;
  }
}
.inv-header-left {
  margin-right: 0;
}


.inv-header-inner {
  position: relative;
  //max-width: 590px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  .photo-round & {
    background: #008c8c;
  }
}
.inv-ava-foto-o {
  padding: (16px + 8) 16px 0 16px;
}
.inv-ava-foto {
  position: relative;
  .photo-round & {
    position: relative;
    z-index: 1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 130px;
    -webkit-box-shadow: 0 25px 35px fade(#000000, 20%);
    -moz-box-shadow: 0 25px 35px fade(#000000, 20%);
    box-shadow: 0 25px 35px fade(#000000, 20%);
  }
}
.inv-ava-foto-item {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  .photo-round & {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
}
.inv-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: fade(#000, 80%);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.1em;
  padding: 10px 10px 10px 26px;
  text-align: center;
  text-transform: uppercase;
  &-red {
    background: fade(#e7004c, 80%);
  }
}
.inv-foto-cover {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 50%;
  display: flex;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 33%, rgba(0,0,0,0.90) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 33%,rgba(0,0,0,0.90) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 33%,rgba(0,0,0,0.90) 100%);
  align-items: flex-end !important;
  justify-content: left !important;
  box-sizing: border-box;
  padding: 16px;
  .inv-header-left * {
    padding: 16px 10px 16px 16px;
  }
  .photo-round & {
    position: relative;
    bottom: auto;
    background: none;
  }
}

.inv-name-wrp {
  font-size: 13px;
  line-height: 18 / 13;
  margin-bottom: 4px;
  .material-icons {
    color: #ffec57;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin-top: -2px;
    margin-bottom: -2px;
  }
}
.inv-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}
.inv-payment {
  .row {
    position: relative;
    zoom: 1;
    margin-right: -10px;
    .col {
      padding-right: 10px;
      margin-right: -4px;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-bottom: 8px;
    }
  }
}
.inv-item-feat {
  strong {
    color: #16d9d9;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    max-width: 145px;
  }
}
.text-color-red {
  color: #e7004c !important;
}
.text-color-green {
  color: #008c8c !important;
}
.text-color-black {
  color: #000 !important;
}

.inv-body {
  background: #fff;
  color: #000;
  &-indents {
    padding: 8px 0;
  }
}
.inv-body-title {
  color: #000;
  font-size: 14px;
  line-height: 19 / 14;
  font-weight: 500;
  text-align: center;
  margin: 6px 0 13px;
}

.inv-day-tm {
  position: relative;
  margin: 0 -16px 12px;
  //margin: 0 0 12px;
  .swiper-slide {
    //width: 88px;
    width: 88px + 8;
  }
  .swiper-slide-icon {
    padding-left: 16px;
    width: 58px / 2 + 8 * 2;
  }
}
.content-divider {
  margin: 16px + 8 0;
  height: 1px;
  position: relative;
  zoom: 1;
  background: @brand-border;
  .inv-body & {
    background: @brand-light;
  }
  .md.device-pixel-ratio-2 & {
    height: 0.5px;
  }
  .md.device-pixel-ratio-3 & {
    height: 0.33px;
  }
  &-top {
    margin-bottom: 16px;
  }
  &-bottom {
    margin-top: 16px;
  }
}
.content-divider-transparent {
  margin: 0 0 16px + 8;
}
.swiper-slide-icon-item {
  width: 58px / 2;
  padding-left: 16px;
  padding-right: 16px;
  .list & {
    padding-left: 0;
    padding-right: 0;
  }
}

html .page .list.list-short-sm {
  .item-content {
    min-height: 36px;
  }
  .item-media {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .item-inner {
    min-height: 36px;
  }
}

.swiper-slide-icon-image {
  width: 58px / 2;
  height: 58px / 2;
  display: block;
  margin: 0 auto;
}
.inv-day-item {
  margin-left: 16px;
  text-align: center;
  background: #f3fdfd;
  color: #008c8c;
  font-weight: 500;
  font-size: 9px;
  line-height: 11 / 9;
  padding: 14px 10px 11px;
  &.active {
    background: #ffec57;
    color: #000;
  }
}
.inv-day-title {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 6px;
}


.inv-footer {
  background: #ffec57;
  padding: 8px 0 8px;
}

.page-player-list {
  background: #ffffff;
}
.md .list.list-indent {
  margin: 16px 0;
}
.list-borter-top {
  .md &.list > ul > li:nth-child(1) .item-inner {
    border-top: 1px solid @brand-border;
  }
  .md.device-pixel-ratio-2 &.list > ul > li:nth-child(1) .item-inner {
    border-top-width: 0.5px;
  }
  .md.device-pixel-ratio-3 &.list > ul > li:nth-child(1) .item-inner {
    border-top-width: 0.33px;
  }
  .md &.list .item-inner:after {
    background: @brand-border;
  }
  //.md .inv-body &.list > ul > li:nth-child(1) .item-inner {
  //  border-top-color: @brand-light;
  //}
  //.md .inv-body &.list .item-inner:after {
  //  background: @brand-light;
  //}
}
.md .inv-body .list > ul > li:nth-child(1) .item-inner {
  border-top-color: @brand-light;
}
.md .inv-body .list .item-inner:after {
  background: @brand-light;
}

.md .list .item-link .item-inner, .md .links-list a {
  background-position: 100% 50%;
}
.md .list {
  p {
    margin: 4px 0;
  }
}

.item-inner-has-bage {
  position: relative;
  &:before {
    background: #ccc;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: 16px + 16;
    margin-top: -4px;
    content: '';
  }
  &-yellow:before {
    background: #ffec57;
  }
}

.player-info-teaser-wrap {
  display: flex !important;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start !important;
  align-items: center !important;
}

.player-photo-teaser {
  position: relative;
  //float: left;
  //width: 65px;
  margin-right: 12px;
}
.player-photo-item {
  display: block;
  //width: 65px;
  height: auto;
}
.player-info-teaser {
  position: relative;
  overflow: hidden;
  padding: 0 0 2px;
  margin: -6px 0 -4px;

  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  //flex: 0 0 100%;
  //max-width: 100%;

  .md .page & {
    .item-title {
      font-size: 14px;
      font-weight: 500;
    }
    .item-text {
      max-height: none;
      font-size: 13px;
      line-height: 16 / 13;
      overflow: visible;
      -webkit-line-clamp: inherit;
      -webkit-box-orient: inherit;
      display: block;
      .icon-sport {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: -2px 0;
        width: 12px;
      }
    }
  }
}
.player-comment {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.item-is-bage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: fade(#000, 80%);
  font-size: 9px;
  font-weight: 700;
  line-height: 10 / 9;
  padding: 2px 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  &-red {
    background: fade(#e7004c, 80%);
  }
}
.md .list {
  .page-player-teaser {
    position: relative;
    color: #000;
  }
}

.player-rating {
  display: flex;
  padding-top: 3px;
  padding-bottom: 2px;
}
.player-rating-star {
  width: 15px;
  height: 15px;
  background: url('../images/icon-star.png') 0 0 no-repeat;
  -webkit-background-size: contain !important;
  background-size: contain !important;
  .player-rating-big & {
    width: 24px;
    height: 24px;
    background: url('../images/icon-star-big.png') 0 0 no-repeat;
  }
  .device-retina & {
    background-image: url('../images/icon-star@2x.png');
    .player-rating-big & {
      background: url('../images/icon-star-big@2x.png') 0 0 no-repeat;
    }
  }
  &.active {
    background-image: url('../images/icon-star-active.png');
    .player-rating-big & {
      background: url('../images/icon-star-active-big.png') 0 0 no-repeat;
    }
    .device-retina & {
      background-image: url('../images/icon-star-active@2x.png');
      .player-rating-big & {
        background: url('../images/icon-star-active-big@2x.png') 0 0 no-repeat;
      }
    }
  }
  &.half{
    background-image: url('../images/icon-star-half.png');
    .player-rating-big & {
      background: url('../images/icon-star-half-big.png') 0 0 no-repeat;
    }
    .device-retina & {
      background-image: url('../images/icon-star-half@2x.png');
      .player-rating-big & {
        background: url('../images/icon-star-half-big@2x.png') 0 0 no-repeat;
      }
    }
  }
}

.icon-svg-filter {
  width: 24px;
  height: 24px;
  .svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path class='cls-1' d='M13.5,3.5A3.5,3.5,0,1,1,10,7,3.5,3.5,0,0,1,13.5,3.5Zm-6,9A3.5,3.5,0,1,1,4,16,3.5,3.5,0,0,1,7.5,12.5ZM1,6H15.5V8H1V6ZM19,6h3.5V8H19V6ZM1,15H7.5v2H1V15Zm12,0h9.5v2H13V15Z' fill='#ffffff'/></svg>");
}
.icon-svg-nut {
  width: 24px;
  height: 24px;
  .svg-background("<svg xmlns='http://www.w3.org/2000/svg' id='nut' data-name='nut' viewBox='0 0 40 34'><path class='cls-1' d='M1124.5,1443.5h-20l-10,17,10,17h20l10-17Zm-10,22a5,5,0,1,1,5-5A5,5,0,0,1,1114.5,1465.5Z' transform='translate(-1094.5 -1443.5)' fill='#ffffff' /></svg>");
}
.icon-svg-back {
  width: 24px;
  height: 24px;
  .svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path id='Icon_-_Back' data-name='Icon - Back' class='cls-1' d='M6.892,12.042L13.8,16.985V7.1Z' fill='#ffffff'/></svg>");
}
.icon-svg-menu {
  width: 24px;
  height: 24px;
  .svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path id='Icon_-_Menu' data-name='Icon - Menu' class='cls-1' d='M2,5.5H16v3H2v-3Zm0,9H21v3H2v-3Z' fill='#ffffff'/></svg>");
}
.icon-svg-facebook {
  width: 24px;
  height: 24px;
  .svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path id='icon-fb' data-name='icon fb' class='cls-1' d='M18.2,19.5H13.5l0-5h2l0.5-3H13.5A1.328,1.328,0,0,1,15,10h1V7c-0.257-.034-0.476,0-1.5,0a3.945,3.945,0,0,0-4,4v0.5h-2v3h2v5H5.8A1.929,1.929,0,0,1,4,17.7V6.3A1.928,1.928,0,0,1,5.8,4.5H18.2A1.928,1.928,0,0,1,20,6.3V17.7A1.928,1.928,0,0,1,18.2,19.5Z' fill='#ffffff'/></svg>");
}
.icon-svg-user-add {
  width: 24px;
  height: 24px;
  .svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path id='Icon_-_User' data-name='Icon - User' class='cls-1' d='M8.326,20s0.739-6.194,7.837-6.194S24,20,24,20H8.326ZM16.163,4a3.524,3.524,0,0,1,3.428,3.613,3.524,3.524,0,0,1-3.428,3.613,3.524,3.524,0,0,1-3.429-3.613A3.524,3.524,0,0,1,16.163,4ZM9.8,11.748H6.367v3.613H3.429V11.748H0v-3.1H3.429V5.039H6.367V8.652H9.8v3.1Z' fill='#ffffff'/></svg>");
}
.icon-svg-sign-in {
  width: 24px;
  height: 24px;
  .svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path id='sign_in' data-name='sign in' class='cls-1' d='M18.2,19.5H17l0-12H7L14.5,10V22L5.8,19.5A1.928,1.928,0,0,1,4,17.7V6.3A1.928,1.928,0,0,1,5.8,4.5H18.2A1.928,1.928,0,0,1,20,6.3V17.7A1.928,1.928,0,0,1,18.2,19.5Z' fill='#000000'/></svg>");
}

.micon {
  -webkit-background-size: contain !important;
  background-size: contain !important;
  display: inline-block !important;
  vertical-align: middle !important;
  position: relative !important;
  margin-top: -5px;
  margin-bottom: -5px;
}

.icon-tennis {
  width: 24px;
  height: 24px;
  //.svg-background("");
  background: url('../images/icon-tennis.png') 50% 50% no-repeat;
  .device-retina & {
    background-image: url('../images/icon-tennis@2x.png');
  }
}
.md .page {
  .button.color-yellow, .button.color-white {
    color: #000 !important;
  }
  .button.button-outline.color-white {
    border-color: #000 !important;
  }
  .toolbar {
    .button {
      height: 63px;
      line-height: 63px;
    }
  }
}

.big-links-list {
  max-width: 280px * 2;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

.big-links-wrp {
  display: block;
  margin-bottom: 16px;
  color: #000;
  &, div, span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.big-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-shadow: 0 20px 25px fade(#000, 20%);
  -moz-box-shadow: 0 20px 25px fade(#000, 20%);
  box-shadow: 0 20px 25px fade(#000, 20%);
}
.big-links-image {
  position: relative;
  position: relative;
  .big-links-vertical & {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .big-links-horizontal & {
    //flex: 0 0 (136px + 16);
    //width: 136px + 16;
    //flex: 0 0 calc(50% + 8);
    //width: calc(50% + 8);
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .badge {
    font-size: 13px;
    line-height: 35px;
    height: 35px;
    padding: 0 3px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    min-width: 35px !important;
    top: -7px;
    right: 6px;
    display: inline-block;
    position: absolute !important;
    -webkit-box-shadow: 0 -1px 2px fade(#000, 20%);
    -moz-box-shadow: 0 -1px 2px fade(#000, 20%);
    box-shadow: 0 -1px 2px fade(#000, 20%);
  }
}
.big-links-label {
  background: #ffffff;
  color: #000;
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 1.25;
  padding: 10px;
  font-weight: 500;
  text-align: center;
  align-items: center !important;
  justify-content: center !important;
  .big-links-vertical & {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    min-height: 45px;
  }
  .big-links-horizontal & {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}
.teaser-iib-swiper {
  position: relative;
}

.teaser-iib-swiper-main {
  position: relative;
  //max-width: 640px;
  margin-bottom: -16px - 8;
}

.teaser-iib-item {
  display: block;
  padding-bottom: 16px + 8;
  position: relative;
  .list-teaser-big & {
    padding-bottom: 16px;
  }
  *, div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.teaser-image-in-bg {
  -webkit-box-shadow: 0 0 25px fade(#000, 20%);
  -moz-box-shadow: 0 0 25px fade(#000, 20%);
  box-shadow: 0 0 25px fade(#000, 20%);
  display: block;
  position: relative;
}
.teaser-iib-image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  &-blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
}
.teaser-iib-tags {
  position: absolute;
  color: #16d9d9;
  font-size: 10px;
  line-height: 1.25;
  left: 16px;
  top: 16px;
  text-transform: uppercase;
  font-weight: 500;
  //.list-teaser-big & {
  //  left: 16px;
  //  top: 16px;
  //}
  .inv-header-left & {
    left: 16px + 8;
    top: 16px + 8;
  }
}
.teaser-iib-descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 66%;
  display: flex;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 33%, rgba(0,0,0,0.90) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.50) 33%,rgba(0,0,0,0.90) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.50) 33%,rgba(0,0,0,0.90) 100%);
  align-items: flex-end !important;
  justify-content: left !important;
  font-size: 13px;
  line-height: 16 / 13;
  font-weight: 500;
  padding: 16px;
  .inv-header-left & {
    padding: (16px + 8) (16px) (16px + 8) (16px + 8);
  }
  .material-icons {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin-top: -2px;
    margin-bottom: -2px;
  }
  &-full {
    background: fade(@brand-bg, 70%);
    color: #ffffff;
    height: 100%;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
}

.preloader-inlist-wrapper {
  font-size: 14px;
  font-weight: 500;
}

.preloader-inlist {
  position: relative;
  background: transparent;
  height: 60px;
  &-loader {
    display: block;
    position: relative;
    //top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 60px;
    border: 4px solid transparent;
    border-top-color: @brand-link;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 60px;
      border: 4px solid transparent;
      border-top-color: @brand-text;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
    }
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 60px;
      border: 4px solid transparent;
      border-top-color: @brand-panel;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.teaser-iib-descr-i {
  width: 100%;
}

.teaser-iib-title {
  font-size: 14px;
}
.teaser-iib-additional {
  margin-top: 4px;
}

.material-icons.color-yellow {
  color: #ffec57;
}

.list-teaser-big {
  &-indent {
    margin: 16px auto;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  //.teaser-iib-additional {
  //  align-self: center !important;
  //}
  //.player-rating {
  //  align-self: center !important;
  //}
  .teaser-iib-item {
    -webkit-box-shadow: 0 0 25px fade(#000, 20%);
    -moz-box-shadow: 0 0 25px fade(#000, 20%);
    box-shadow: 0 0 25px fade(#000, 20%);
  }
  .teaser-iib-item-fullwidth {
    width: 100% !important;
    max-width: none !important;
  }
  .align-content-center {
    width: 100%;
    min-width: 100%;
    flex: 0 0 100%;
    justify-content: center !important;
    display: flex;
    flex-wrap: wrap;
  }
  .player-rating {
    margin-bottom: 2px;
  }
  .teaser-iib-additional {
    margin-top: 2px;
    font-size: 12px;
  }
  .material-icons {
    font-size: 18px;
  }
}

.list-teaser-big-item {
  margin-bottom: 8px;
}

.teaser-iib-sale {
  position: absolute;
  top: 16px;
  left: 0;
  font-weight: 500;
  padding: 2px (8px + 4) 2px 16px;
  color: #fff;
  background: fade(#e7004c, 75%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    content: '';
    left: 100%;
    display: block;
    position: absolute;
    border: 4px solid transparent;
    border-width: 8px 4px;
    border-left-color: fade(#e7004c, 75%);
  }
  &:before {
    top: 0;
    border-top-color: fade(#e7004c, 75%);
  }
  &:after {
    bottom: 0;
    border-bottom-color: fade(#e7004c, 75%);
  }
}
.teaser-iib-distance {
  position: absolute;
  top: 16px;
  right: 16px;
  font-weight: 500;
  padding: 2px 8px;
  color: #fff;
  //background: fade(#11a6a6, 70%);
  //background: fade(#2196f3, 70%);
  background: fade(#000000, 50%);
  .material-icons {
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    margin: -4px 0 0;
  }
}

.block-on-swiper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.icon-close {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 20px;
  color: @brand-link;
}
.icon-close-left {
  left: 10px;
}
.icon-close-top {
  top: 10px;
  bottom: auto;
}

.dialog .icon-close {
  color: @brand-panel;
}

.popover .popover-inner {
  padding-bottom: 32px;
}


.swiper-pagination-to-right {
  .swiper-pagination {
    bottom: auto;
    left: auto;
    width: auto;
    .swiper-pagination-bullet {
      margin: 6px 0;
    }
  }
}

.material-icons-vmargin-fix {
  position: relative;
  margin-top: -3px;
  margin-bottom: -3px;
}

.slide-icon-descr-image {
  width: 58px / 2;
  margin: 8px auto 0;
  img {
    width: 58px / 2;
    height: 58px / 2;
    display: block;
  }
}

.icon-usericon {
  display: block;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.map iframe {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.item-content-bdb-full {
  position: relative;
  &:after {
    content: '';
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    position: relative;
    zoom: 1;
    background: @brand-border;
    display: block;
    position: absolute;
    .inv-body & {
      background: @brand-light;
    }
  }
  .md.device-pixel-ratio-2 &:after {
    height: 0.5px;
  }
  .md.device-pixel-ratio-3 &:after {
    height: 0.33px;
  }
}

.border-block {
  border: 3px solid @brand-link;
}

.control-photo {
  position: relative;
  //top: 100px;
  //bottom: 100px;
  //left: 0;
  //right: 0;
  height: 100vw;
  display: block;
}
.control-photo-add {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: fade(#000000, 60%) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #000;
  display: flex;
  padding: 16px;
  text-align: center;
  align-items: center !important;
  justify-content: center !important;
  .material-icons {
    font-size: 100px;
    color: @brand-link;
  }
}
.control-photo-facebook {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 38%;
  height: 38%;
  bottom: 16px;
  left: 16px;
  display: flex;
  background: #2196f3 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  border-radius: 100vw;
  padding: 16px;
  text-align: center;
  align-items: center !important;
  justify-content: center !important;
  .material-icons {
    //font-size: 66px;
    font-size: 48px;
    color: @brand-link;
  }
}

.control-photo-icons {
  display: block;
}

.btn-2bottom {
  bottom: 100%;
  position: absolute !important;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
  display: block;
}
.btn-2bottom-inner {
  display: inline-block;
  background: fade(#000000, 70%);
  color: #ffffff;
  font-size: 10px;
  padding: 4px 16px;
  .material-icons {
    position: relative;
    zoom: 1;
    margin: -6px 0 -4px;
    vertical-align: middle;
    font-size: 16px;
  }
}

.preheader {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 4px;
}
.header-user-info {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center!important;
  align-items: center!important;
}

.header-user-photo {
  display: block;
  width: 52px;
  height: 52px;
  margin-right: 12px;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  border-radius: 52px;
}
.header-user-name {
  line-height: 21px;
  max-height: 42px;
  position: relative;
  text-align: left;
  overflow: hidden;
  text-overflow: clip;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
}

.hidden {
  display: none !important;
}

.md .messages {
  //.swipeout {
  //  display: flex;
  //  flex-direction: column;
  //}
  .list .message-sent {
    margin-left: auto;
  }
}

.md .messages .list .message {
  margin-top: 16px;
}

.md .message + .list:not(.message-first) .message {
  margin-top: 8px;
}


.md .list {
  .message {
    margin-bottom: 0;
  }
  &:last-child {
    .message {
      margin-bottom: 16px;
    }
  }
}

.message-audio {
  .message-text {
    width: 200px;
    //min-height: 60px;
    position: relative;
  }
  .progressbar {
    margin-top: 4px;
    margin-bottom: 4px;

  }
  .message-bubble {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.message-audio-controls {
  display: flex;
  align-items: center;
  margin: 4px 0 4px;
}
.message-audio-controls-btn {
  position: relative;
}
.message-audio-controls-time {
  margin-left: auto;
}

.round-icon-btn-wrp {
  position: relative;
}

.round-icon-btn {
  display: block;
  background: @brand-bg;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  position: relative;
  &-link {
    background: @brand-link;
    color: #000 !important;
  }
  .material-icons {
    line-height: 32px;
  }
  &-lg {
    height: 42px;
    line-height: 42px;
    width: 42px;
    border-radius: 42px;
    .material-icons {
      line-height: 42px;
    }
  }
  &-loader {
    display: none;
  }
  &-loader.active {
    display: block;
    width: 26px;
    height: 26px;
    left: 3px;
    top: 3px;
    font-size: 24px;
    position: absolute;
    border-radius: 50px;
    text-indent: -9999em;
    overflow: hidden;
    color: fade(@brand-bg, 40%);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.hidden {
  display: none;
}

.messagebar-buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 8px 8px;
  min-width: 100%;
  display: flex;
  align-items: center;
  color: #000;
  .md .page .toolbar & .button {
    height: 42px;
    line-height: 42px;
    font-size: 12px;
  }
}
.messagebar-buttons-left {
  display: flex;
  align-items: center;
  .button {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}
.messagebar-buttons-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  .button {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

.toolbar-inner-messagebar {
  flex: 0 0 100%;
  padding-top: 4px;
}
.messagebar-progress-bar {
  margin: 8px 8px 4px;
}

.md .page .messagebar-area {
  margin-top: 4px;
  margin-bottom: 8px;
}

.md .page .messagebar ~ .page-content {
  padding-bottom: 100px;
}

.messagebar-timebar {
  display: flex;
  align-items: center;
}

.recording {
  display: block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  background: @brand-danger;
  border-radius: 8px;
  margin-right: 4px;
  &.active {
    background: @brand-success;
  }
}

.timebar-wrapper {
  font-weight: 700;
}

.md {
  .sheet-modal {
    .link {
      color: @brand-bg;
    }
    .toolbar {
      background-color: transparent;
      .icon-only {
        min-width: 44px;
        padding-left: 0;
        padding-right: 0;
        vertical-align: middle;
        text-align: center;
        float: left;
      }
      .icon {
        color: @brand-bg;
        &.material-icons {
          width: 24px;
        }
      }
    }
    .block {
      margin: 0;
    }
  }
}

.view .event-list {
  position: relative;
  zoom: 1;
  margin: 0 auto;
  max-width: 640px;
  .list {
    font-size: 13px;
    line-height: 17 / 13;
  }
  .timeline-item {
    width: 100%;
    align-items: center;
    overflow: visible;
  }
  .timeline-item-inner {
    -webkit-box-shadow: 0 20px 25px fade(#000, 20%);
    -moz-box-shadow: 0 20px 25px fade(#000, 20%);
    box-shadow: 0 20px 25px fade(#000, 20%);
  }
  .timeline-item-content {
    //flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .timeline-item-date {
    text-align: left;
    color: #16d9d9;
    font-size: 14px;
    font-weight: 500;
  }
  .small {
    .item-content {
      min-height: 10px !important;
    }
    .timeline-item {
      padding: 0 !important;
    }
    .timeline-item-date {
      font-size: 9px;
      line-height: 10px;
    }
  }
  .current .timeline-item-date {
    color: #ffffff;
  }
  .timeline-item-title {
    font-size: 14px;
    line-height: 18 / 14;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .opacity {
    opacity: .3;
  }
  .free {
    .timeline-item-inner {
      text-align: center;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: lighten(@brand-bg, 5%);
      color: #ffffff;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .timeline-item-title {
      font-size: 24px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.timeline-item-footer {
  background: @brand-light;
  font-size: 9px;
  text-align: center;
  line-height: 12px;
  padding: 1px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  &.bg-color-red,
  &.bg-color-green {
    color: #fff;
  }
}

.event-list-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
  float: left;
  padding-right: 42px - 8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: keep-all;
  line-break: loose;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.event-list-photo {
  position: relative;
  margin: -8px -16px 4px (-42px + 16);
  img {
    width: 42px;
    height: auto;
  }
}

.event-descr-icon {
  margin-right: 4px;
  font-size: 16px;
}
.event-descr-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: keep-all;
  line-break: loose;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.md .calendar-footer a {
  color: @brand-bg;
}

.swiper-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  .swiper-slide {
    height: 100vh;
    width: 100vw;
    background: @brand-bg 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.page-enter-content {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  //align-content: center;
}
.page-enter-equal {
  flex-basis: 100%;
  max-width: 100%;
  align-self: flex-start !important;
}
.page-enter-logo {
  text-align: center;
  margin: 32px auto 0;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  flex-basis: 100%;
  max-width: 100%;
  align-self: center !important;

}
.logo-slogan {
  width: 195px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  background: url('../images/logo-slogan.png') 50% 50% no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  .device-retina & {
    background-image: url('../images/logo-slogan@2x.png');
  }
}
.page-enter-form {
  flex-basis: 100%;
  max-width: 100%;
  align-self: flex-end !important;
  .block {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.bg-color-fb {
  background: #3b5998 !important;
  color: #ffffff !important;
}

.md .bg-transparent {
  background-color: transparent !important;
}

.md .button.button-xl {
  height: 60px;
  line-height: 60px;
  //border-radius: 4px;
}

.page-enter-notify {
  font-size: 9px;
  line-height: 11 / 9;
  opacity: 0.5;
  margin-bottom: 10px;
  margin-top: 10px;
}

.md .panel .page {
  background: #000000;
}

.main-nav {
  text-align: center;
  > ul {
    > li {
      a {
        display: block;
        padding: 10px 16px;
        font-weight: 500;
      }
      > a {
        font-size: 20px;
      }
      > ul {
        padding-left: 0 !important;
        margin-bottom: 10px - 5;
        position: relative;
        zoom: 1;
        margin-top: -10px + 5;
        > li {
          text-align: center;
          a {
            font-size: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

//.md .page .toolbar-bottom-user {
//  background: #000000;
//}

.panel-toolbar-user {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  //justify-content: center!important;
  align-items: center!important;
}

.panel-toolbar-user-photo {
  align-items: center !important;
  width: 103px;
  height: 103px;
  flex: 0 0 103px;
  max-width: 103px;
}
.panel-toolbar-user-info {
  position: relative;
  text-align: left;
  //display: flex;
  //flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  //flex: 0 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  align-items: center !important;
  padding: 8px 12px 8px 16px;
  .name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: clip;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
  }
  .user-link {
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
}

.md .block-title {
  &.color-white {
    color: @brand-link;
  }
}
.md .item-label,
.md .item-floating-label {
  &.color-yellow {
    color: @brand-link;
  }
}

/* --schedule style fix for club-item.html-- */
.club-item-schedule {
  margin-right: 0;
  margin-left: 0;
}
.club-item-schedule .swiper-slide {
  width: auto;

  &:first-child {
    .inv-day-item {
      margin-left: 0;
    }
  }
}