/**
 * Framework7 3.0.0-beta.14
 * Full featured mobile HTML framework for building iOS & Android apps
 * http://framework7.io/
 *
 * Copyright 2014-2018 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: June 24, 2018
 */

@brand-text: #ffffff;
@brand-panel: #000000;
@brand-link: #fff000;
@brand-bg: #11a6a6;
@brand-border: #16d9d9;
@brand-light: #dce6e6;
@brand-danger: #e7004c;
@brand-info: #f3fdfd;
@brand-success: #008c8c;

@import (reference) './mixins.less';

@includeIosTheme: false;
@includeMdTheme: true;

@includeDarkTheme: false;

@themeColorIos: #fff;
@themeColorMd: #fff;

@colorsIos: red #e7004c, green #008c8c, blue #2196f3, pink #ff2d55, yellow #ffec57, orange #ff9500, gray #8e8e93, white #ffffff, black #000000;
@colorsMd: red #e7004c, green #008c8c, blue #2196f3, pink #e91e63, yellow #ffec57, orange #ff9800, gray #8e8e93, white #ffffff, black #000000;

@rtl: false;

// Core
@import url('../components/app/app.less');
@import url('../components/grid/grid.less');
@import url('../components/preloader/preloader.less');
@import url('../components/typography/typography.less');
@import url('../components/autocomplete/autocomplete.less');
@import url('../components/searchbar/searchbar.less');
@import url('../components/searchbar/searchbar.less');
@import url('../components/statusbar/statusbar.less');
@import url('../components/view/view.less');
@import url('../components/page/page.less');
@import url('../components/navbar/navbar.less');
@import url('../components/toolbar/toolbar.less');
@import url('../components/link/link.less');
@import url('../components/subnavbar/subnavbar.less');
@import url('../components/block/block.less');
@import url('../components/list/list.less');
@import url('../components/list-index/list-index.less');
@import url('../components/badge/badge.less');
@import url('../components/button/button.less');
@import url('../components/icon/icon.less');
@import url('../components/modal/modal.less');
@import url('../components/input/input.less');
@import url('../components/toggle/toggle.less');
@import url('../components/chip/chip.less');
@import url('../components/swiper/swiper.less');
@import url('../components/swipeout/swipeout.less');
@import url('../components/dialog/dialog.less');
@import url('../components/checkbox/checkbox.less');
@import url('../components/panel/panel.less');
@import url('../components/tabs/tabs.less');
@import url('../components/messagebar/messagebar.less');
@import url('../components/messages/messages.less');
@import url('../components/popup/popup.less');
@import url('../components/popover/popover.less');
@import url('../components/calendar/calendar.less');
@import url('../components/smart-select/smart-select.less');
@import url('../components/fab/fab.less');
@import url('../components/sheet/sheet.less');
@import url('../components/radio/radio.less');
@import url('../components/progressbar/progressbar.less');
@import url('../components/timeline/timeline.less');
@import url('../components/touch-ripple/touch-ripple.less');
@import url('../components/picker/picker.less');

//@import url('./fa5/_fontawesome.less');
//@import url('./fa5/_solid.less');
//.fas {
//  font-style: normal;
//  font-size: 18px;
//  line-height: 20 / 24;
//  width: 24px;
//  height: 24px;
//  display: inline-block;
//  //display: inline-flex;
//  align-items: center;
//  justify-content: center;
//  text-align: center;
//  text-transform: none;
//  letter-spacing: normal;
//  word-wrap: normal;
//  white-space: nowrap;
//  direction: ltr;
//  position: relative;
//  vertical-align: top;
//  //-webkit-font-smoothing: antialiased;
//  //text-rendering: optimizeLegibility;
//  //-moz-osx-font-smoothing: grayscale;
//  //font-feature-settings: 'liga';
//  &:before {
//    display: block;
//    width: 100%;
//    position: absolute;
//    margin-top: -0.5em;
//    line-height: 1em;
//    top: 50%;
//    left: 0;
//  }
//}

@import url('_layout.less');

@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/sfuidisplay-thin.eot); /* For IE6-8 */
  src: local('SFProDisplay'),
  local('sfuidisplay-thin'),
  url(../fonts/sfuidisplay-thin.woff2) format('woff2'),
  url(../fonts/sfuidisplay-thin.woff) format('woff'),
  url(../fonts/sfuidisplay-thin.ttf) format('truetype');
}
@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sfuidisplay-regular.eot); /* For IE6-8 */
  src: local('SFProDisplay'),
  local('sfuidisplay-regular'),
  url(../fonts/sfuidisplay-regular.woff2) format('woff2'),
  url(../fonts/sfuidisplay-regular.woff) format('woff'),
  url(../fonts/sfuidisplay-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/sfuidisplay-medium.eot); /* For IE6-8 */
  src: local('SFProDisplay'),
  local('sfuidisplay-medium'),
  url(../fonts/sfuidisplay-medium.woff2) format('woff2'),
  url(../fonts/sfuidisplay-medium.woff) format('woff'),
  url(../fonts/sfuidisplay-medium.ttf) format('truetype');
}
@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/sfuidisplay-bold.eot); /* For IE6-8 */
  src: local('SFProDisplay'),
  local('sfuidisplay-bold'),
  url(../fonts/sfuidisplay-bold.woff2) format('woff2'),
  url(../fonts/sfuidisplay-bold.woff) format('woff'),
  url(../fonts/sfuidisplay-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}