@blockBorderColor: #16d9d9;
@blockBorderColorDark: rgba(255,255,255,0.08);
@blockBgDark: rgba(255,255,255,0.03);
@barsBg: @themeColor;
@navbarSize: 44px;
@navbarSizeTablet: 44px;
@navbarBg: #000000;
@toolbarBg: #11a6a6;
@toolbarColor: #fff;
@toolbarLinkColor: #fff;
@toolbarSize: 63px;
@tabbarLabelsSize: 44px;
@tabbarLabelsBottomSize: 44px;
@tabbarLinkColor: rgba(255,255,255,0.8);
@tabbarActiveLinkColor: rgba(255,255,255,1);
@searchbarSize: 44px;
@searchbarBg: #000;
@messageReceivedBg: #fff;
@messageReceivedColor: #333;
@messageSentBg: #cfd9db;
@messageSentColor: #333;
