<div class="page chat-b" data-name="chat">
    <div class="navbar navbar-logo">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                <div class="center sliding page-title title-black">
                    <div class="preheader">Чат с тренером</div>
                    <div class="header-user-info">
                        <img class="header-user-photo" src="../images/bung-big-photo.jpg" alt="Лорем Ипсум Сит Амет Лорем Ипсум Сит Амет Лорем Ипсум Сит Амет">
                        <div class="header-user-name">
                            Лорем Ипсум Сит Амет Лорем Ипсум Сит Амет Лорем Ипсум Сит Амет
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="round-icon-btn-wrp">-->
        <!--<div class="round-icon-btn-loader"></div>-->
        <!--<a href="#" class="round-icon-btn">-->
            <!--<span class="material-icons">play_arrow</span>-->
        <!--</a>-->
    <!--</div>-->


    <div class="toolbar messagebar messagebar-with-value">
        <a href="#" class="btn-2bottom"><span class="btn-2bottom-inner">Вернуться в самый низ <span class="material-icons">expand_more</span></span></a>
        <div class="toolbar-inner">
            <div class="toolbar-inner-messagebar">
                <div class="messagebar-progress-bar hidden">
                    <div class="progressbar color-green" data-progress="20">
                        <span></span>
                    </div>
                </div>
                <div class="messagebar-area">
                    <div class="row">
                        <div class="col col-100">
                            <textarea class="resizable" placeholder="Сообщение"></textarea>
                        </div>
                    </div>
                </div>
                <div class="messagebar-buttons">
                    <div class="messagebar-buttons-left">
                        <button class="button button-fill button-small mr-xs bg-color-red chat-decline">Отклонить</button>
                        <button class="button button-fill button-small mr-xs bg-color-green chat-fix">Зафиксировать</button>
                        <a href="#" class="round-icon-btn round-icon-btn-lg round-icon-btn-link mr-xs send-link delete hidden">
                            <span class="material-icons">delete_forever</span>
                        </a>
                        <a href="#" class="round-icon-btn round-icon-btn-lg round-icon-btn-link mr-xs send-link play hidden">
                            <span class="material-icons">play_arrow</span>
                        </a>
                        <div class="timebar messagebar-timebar mr-xs">
                            <span class="recording hidden"></span>
                            <span class="timebar-wrapper messagebar-timebar-wrapper hidden">
                                <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
                            </span>
                        </div>
                    </div>
                    <div class="messagebar-buttons-right">
                        <a class="round-icon-btn round-icon-btn-lg round-icon-btn-link send-link send-message hidden" href="#"><span class="material-icons">send</span></a>
                        <a class="round-icon-btn round-icon-btn-lg round-icon-btn-link send-link microphone ml-xs" href="#"><span class="material-icons">keyboard_voice</span></a>
                        <a href="#" class="round-icon-btn round-icon-btn-lg round-icon-btn-link send-link ml-xs stop hidden">
                            <span class="material-icons">stop</span>
                        </a>
                        <a href="#" class="round-icon-btn round-icon-btn-lg round-icon-btn-link send-link ml-xs cancel hidden">
                            <span class="material-icons">cancel</span>
                        </a>
                        <a href="#" class="round-icon-btn round-icon-btn-lg round-icon-btn-link send-link ml-xs send hidden">
                            <span class="material-icons">send</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content messages-content">
        <div class="messages">
            <!-- Messages title -->
            <div class="messages-title"><b>Sunday, Feb 9,</b> 12:58</div>
            <!-- Full layout sent message -->
            <div class="message message-sent">
                <div class="message-content">
                    <div class="message-name">John Doe</div>
                    <div class="message-header">Message header</div>
                    <div class="message-bubble">
                        <div class="message-text-header">Text header</div>
                        <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        <div class="message-text-footer">Text footer</div>
                    </div>
                    <div class="message-footer">Message footer</div>
                </div>
            </div>
            <!-- Full layout received message -->
            <div class="message message-received">
                <div class="message-content">
                    <div class="message-name">John Doe</div>
                    <div class="message-header">Message header</div>
                    <div class="message-bubble">
                        <div class="message-text-header">Text header</div>
                        <div class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        <div class="message-text-footer">Text footer</div>
                    </div>
                    <div class="message-footer">Message footer</div>
                </div>
            </div>
            <!-- Messages -->
            <div class="message message-sent">
                <div class="message-content">
                    <div class="message-bubble">
                        <div class="message-text">Hi, Kate</div>
                    </div>
                </div>
            </div>
            <div class="message message-sent">
                <div class="message-content">
                    <div class="message-bubble">
                        <div class="message-text">How are you?</div>
                    </div>
                </div>
            </div>
            <div class="message message-received">
                <div class="message-content">
                    <div class="message-name">Kate</div>
                    <div class="message-bubble">
                        <div class="message-text">Hi, I am good!</div>
                    </div>
                </div>
            </div>
            <div class="message message-received">
                <div class="message-content">
                    <div class="message-name">Blue Ninja</div>
                    <div class="message-bubble">
                        <div class="message-text">Hi there, I am also fine, thanks! And how are you?</div>
                    </div>
                </div>
            </div>
            <div class="message message-sent">
                <div class="message-content">
                    <div class="message-bubble">
                        <div class="message-text">Hey, Blue Ninja! Glad to see you ;)</div>
                    </div>
                </div>
            </div>
            <div class="message message-sent">
                <div class="message-content">
                    <div class="message-bubble">
                        <div class="message-text">Hey, look, cutest kitten ever!</div>
                    </div>
                </div>
            </div>
            <div class="list no-hairlines no-hairlines-between list-clear">
                <ul>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="message message-audio message-received">
                                <div class="message-content">
                                    <div class="message-name">Kate</div>
                                    <div class="message-bubble">
                                        <div class="progressbar color-green" data-progress="20">
                                            <span></span>
                                        </div>
                                        <div class="message-text">
                                            <div class="message-audio-controls">
                                                <div class="message-audio-controls-btn round-icon-btn-wrp">
                                                    <div class="round-icon-btn-loader"></div>
                                                    <a href="#" class="round-icon-btn message-audio-play message-audio-button">
                                                        <span class="material-icons">play_arrow</span>
                                                    </a>
                                                    <a href="#" class="round-icon-btn message-audio-pause message-audio-button hidden">
                                                        <span class="material-icons">pause</span>
                                                    </a>
                                                </div>
                                                <div class="message-audio-controls-time">
                                                    <div class="timebar message-audio-timebar">
                                                        <span class="timebar-wrapper message-audio-timebar-wrapper">
                                                            <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#" class="swipeout-delete swipeout-overswipe">Удалить</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list no-hairlines no-hairlines-between list-clear">
                <ul>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="message message-audio message-sent">
                                <div class="message-content">
                                    <div class="message-bubble">
                                        <div class="progressbar color-green" data-progress="20">
                                            <span></span>
                                        </div>
                                        <div class="message-text">
                                            <div class="message-audio-controls">
                                                <div class="message-audio-controls-btn round-icon-btn-wrp">
                                                    <div class="round-icon-btn-loader"></div>
                                                    <a href="#" class="round-icon-btn message-audio-play message-audio-button">
                                                        <span class="material-icons">play_arrow</span>
                                                    </a>
                                                    <a href="#" class="round-icon-btn message-audio-pause message-audio-button hidden">
                                                        <span class="material-icons">pause</span>
                                                    </a>
                                                </div>
                                                <div class="message-audio-controls-time">
                                                    <div class="timebar message-audio-timebar">
                                                        <span class="timebar-wrapper message-audio-timebar-wrapper">
                                                            <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete swipeout-overswipe">Удалить</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="message message-received">
                <div class="message-content">
                    <div class="message-name">Kate</div>
                    <div class="message-bubble">
                        <div class="message-text">Nice!</div>
                    </div>
                </div>
            </div>
            <div class="message message-received">
                <div class="message-content">
                    <div class="message-name">Kate</div>
                    <div class="message-bubble">
                        <div class="message-text">Like it very much!</div>
                    </div>
                </div>
            </div>
            <div class="message message-received last-unread not-registered"><!-- .not-registered для попапа -->
                <div class="message-content">
                    <div class="message-name">Blue Ninja</div>
                    <div class="message-bubble">
                        <div class="message-text">Awesome!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>