<div class="page" data-name="registration-2">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                Выберите ваш город
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md ">

            <div class="toolbar-inner bt-fix tabbar">
                <span class="tab-link "></span>
                <span class="tab-link tab-link-active"></span>
                <span class="tab-link"></span>
            </div>

        <div class="toolbar-inner but">
            <a href="/registration-3" class="button button-fill button-block button-round  open-alert">Далее</a>
        </div>
    </div>

    <div class="page-content">
        <div data-page="your-city" class="page bg-white" data-header-color="day">
            <!-- Scrollable page content-->
            <div class="page-content page-your-city">
                <div class="content-block">
                    <div class="content-block-inner">
                        <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init search-your-city">
                            <div class="searchbar-input">
                                <input class="small-font" type="search" placeholder="Поиск"><a href="#" class="searchbar-clear"></a>
                            </div><a href="#" class="searchbar-cancel"><i class="f7-icons color-gray">close</i></a>
                        </form>
                        <!-- Search Bar overlay -->
                        <div class="searchbar-overlay"></div>

                        <div class="page-content">
                            <!-- This block will be displayed if nothing found -->
                            <div class="content-block searchbar-not-found">
                                <div class="content-block-inner">Ничего не найдено</div>
                            </div>

                            <div class="list-block list-block-search searchbar-found list-block-your-city">
                                <ul>
                                    <li class="item-content">
                                        <a href="">
                                            <div class="item-inner">
                                                <div class="item-title">Москва </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-content">
                                        <a href="">
                                            <div class="item-inner">
                                                <div class="item-title">Санкт-Петербург</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-content">
                                        <a href="">
                                            <div class="item-inner">
                                                <div class="item-title">Самара</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
