<div class="page" data-name="club-list">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                Клубы Клубы Клубы Клубы
            </div>
            <div class="right">
                <a href="#" class="link">
                    <i class="icon icon-svg-filter"></i>
                </a>
                <a href="#" class="link">
                    <i class="material-icons">map</i>
                </a>
                <a href="#" class="link popover-open" data-popover=".popover-sort-by">
                    <i class="material-icons">more_vert</i>
                </a>
            </div>
        </div>
    </div>

    <div class="fab fab-right-bottom color-red">
        <a href="#">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div class="page-content page-teasers-big">
        <div class="list-teaser-big list-teaser-big-indent media-list">
            <ul>
                <li class="swipeout list-teaser-big-item">
                    <div class="swipeout-content">
                        <a href="#" class="item-link item-content teaser-iib-item teaser-iib-item-fullwidth">
                            <div class="teaser-iib-image"><img src="../images/bung-main-1.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <!--<div class="teaser-iib-tags">Событие</div>-->
                            <div class="teaser-iib-sale">Скидка 20%</div>
                            <div class="teaser-iib-distance">
                                <i class="material-icons text-color-yellow">directions_car</i>
                                <span>37 </span>мин.
                            </div>
                            <div class="teaser-iib-descr">
                                <div class="teaser-iib-descr-i">
                                    <div class="align-content-center">
                                        <div class="player-rating player-rating-big">
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star half"></div>
                                            <div class="player-rating-star"></div>
                                        </div>
                                    </div>
                                    <div class="align-content-center">
                                        <div class="teaser-iib-title text-align-center">1. Клуб одежды SABR Магазин одежды SABR <sup class="text-color-yellow">2</sup></div>
                                    </div>
                                    <div class="align-content-center">
                                        <div class="teaser-iib-additional text-align-center">
                                            <i class="material-icons color-yellow">location_on</i>
                                            ул. Васильченко, 41, Казань, Республика Татарстан, Российская Федерация
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </div>
                </li>
                <li class="swipeout list-teaser-big-item">
                    <div class="swipeout-content">
                        <a href="#" class="item-link item-content teaser-iib-item teaser-iib-item-fullwidth">
                            <div class="teaser-iib-image"><img src="../images/bung-main-2.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <!--<div class="teaser-iib-tags">Событие</div>-->
                            <div class="teaser-iib-sale">Скидка 20%</div>
                            <div class="teaser-iib-distance">
                                <i class="material-icons text-color-yellow">directions_car</i>
                                <span>37 </span>мин.
                            </div>
                            <div class="teaser-iib-descr">
                                <div class="teaser-iib-descr-i">
                                    <div class="align-content-center">
                                        <div class="player-rating player-rating-big">
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star half"></div>
                                            <div class="player-rating-star"></div>
                                        </div>
                                    </div>
                                    <div class="align-content-center">
                                        <div class="teaser-iib-title text-align-center">2. Клуб одежды SABR Магазин одежды SABR <sup class="text-color-yellow">10</sup></div>
                                    </div>
                                    <div class="align-content-center">
                                        <div class="teaser-iib-additional text-align-center">
                                            <i class="material-icons color-yellow">location_on</i>
                                            ул. Васильченко, 41, Казань, Республика Татарстан, Российская Федерация
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </div>
                </li>
                <li class="swipeout list-teaser-big-item">
                    <div class="swipeout-content">
                        <a href="#" class="item-link item-content teaser-iib-item teaser-iib-item-fullwidth">
                            <div class="teaser-iib-image"><img src="../images/bung-main-1.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <!--<div class="teaser-iib-tags">Событие</div>-->
                            <div class="teaser-iib-sale">Скидка 20%</div>
                            <div class="teaser-iib-distance">
                                <i class="material-icons text-color-yellow">directions_car</i>
                                <span>37 </span>мин.
                            </div>
                            <div class="teaser-iib-descr">
                                <div class="teaser-iib-descr-i">
                                    <div class="align-content-center">
                                        <div class="player-rating player-rating-big">
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star half"></div>
                                            <div class="player-rating-star"></div>
                                        </div>
                                    </div>
                                    <div class="align-content-center">
                                        <div class="teaser-iib-title text-align-center">3. Клуб одежды SABR Магазин одежды SABR <sup class="text-color-yellow">10</sup></div>
                                    </div>
                                    <div class="align-content-center">
                                        <div class="teaser-iib-additional text-align-center">
                                            <i class="material-icons color-yellow">location_on</i>
                                            ул. Васильченко, 41, Казань, Республика Татарстан, Российская Федерация
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </div>
                </li>
                <li class="swipeout list-teaser-big-item">
                    <a href="#" class="item-link item-content teaser-iib-item teaser-iib-item-fullwidth">
                        <div class="teaser-iib-image teaser-iib-image-blur"><img src="../images/bung-main-1.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                        <div class="teaser-iib-descr teaser-iib-descr-full">
                            <div class="preloader-inlist-wrapper teasers-load">
                                <p> Пожалуйста, подождите</p>
                                <div class="preloader-inlist">
                                    <div class="preloader-inlist-loader"></div>
                                </div>
                                <p>Идет загрузка</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="popover popover-sort-by">
        <div class="popover-inner">
            <div class="list">
                <ul>
                    <li class="">
                        <label class="item-radio item-content">
                            <input type="radio" name="radio-list-sort" value="rating" checked="">
                            <i class="icon icon-radio"></i>
                            <div class="item-inner">
                                <div class="item-title">Сортировка по рейтингу</div>
                            </div>
                        </label>
                    </li>
                    <li class="">
                        <label class="item-radio item-content">
                            <input type="radio" name="radio-list-sort" value="remote">
                            <i class="icon icon-radio"></i>
                            <div class="item-inner">
                                <div class="item-title">Сортировка по удаленности</div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
            <a class="icon-close js-popover-close">
                <i class="material-icons">clear</i>
            </a>
            <a class="icon-close icon-close-left js-popover-close">
                <i class="material-icons">clear</i>
            </a>
        </div>
    </div>

</div>
