<div class="page" data-name="club-item">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                Клубный прелоадер
            </div>
            <div class="right">
                <a href="#" class="link">
                    <i class="material-icons">more_vert</i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content page-teasers-big">
        <div class="teaser-iib-descr teaser-iib-descr-full">
            <div class="preloader-inlist-wrapper teasers-load">
                <p> Пожалуйста, подождите</p>
                <div class="preloader-inlist">
                    <div class="preloader-inlist-loader"></div>
                </div>
                <p>Идет загрузка</p>
            </div>
        </div>
    </div>

</div>
