<div class="page pt-0 invitation-pg" data-name="club-item">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                Клуб клуб клуб
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md">
        <div class="toolbar-inner">
            <button class="col button button-big button-fill color-gray">Поправить точку</button>
            <button class="col button button-big button-fill color-yellow">Проложить маршрут</button>
        </div>
    </div>

    <div class="page-content page-place-description">

        <div class="wrap-content-indents">

            <div class="inv-header">
                <div class="inv-header-inner list-teaser-big">
                    <div class="swiper-container swiper-pagination-to-right swiper-init teaser-iib-swiper" data-slides-per-view="auto" data-pagination='{"el": ".swiper-pagination"}'>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item-content teaser-iib-item teaser-iib-item-fullwidth">
                                    <div class="teaser-iib-image"><img src="../images/bung-main-1.jpg" alt="Клуб клуб клуб"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-content teaser-iib-item teaser-iib-item-fullwidth">
                                    <div class="teaser-iib-image"><img src="../images/bung-main-2.jpg" alt="Клуб клуб клуб"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-content teaser-iib-item teaser-iib-item-fullwidth">
                                    <div class="teaser-iib-image"><img src="../images/bung-main-1.jpg" alt="Клуб клуб клуб"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item-content teaser-iib-item teaser-iib-item-fullwidth">
                                    <div class="teaser-iib-image"><img src="../images/bung-main-2.jpg" alt="Клуб клуб клуб"></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-on-swiper">
                            <div class="teaser-iib-sale">Скидка 20%</div>
                            <div class="teaser-iib-distance">
                                <i class="material-icons text-color-yellow">directions_car</i>
                                <span>37 </span>мин.
                            </div>
                            <div class="teaser-iib-descr">
                                <div class="teaser-iib-descr-i">
                                    <div class="align-content-center">
                                        <div class="player-rating player-rating-big">
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star active"></div>
                                            <div class="player-rating-star half"></div>
                                            <div class="player-rating-star"></div>
                                            <sup class="text-color-yellow">(72)</sup>
                                        </div>
                                    </div>
                                    <div class="align-content-center">
                                        <div class="teaser-iib-title text-align-center">1. Клуб одежды SABR Магазин одежды SABR <sup class="text-color-yellow">2</sup></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inv-body inv-body-indents">
                <div class="inv-body-title">
                    Время работы
                </div>
                <div class="inv-day-tm club-item-schedule">
                    <div data-space-between="0" data-slides-per-view="auto" class="swiper-container swiper-init">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="inv-day-item active">
                                    <div class="inv-day-title">Сегодня</div>
                                    <div>
                                        19:30 - 20:30
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inv-day-item">
                                    <div class="inv-day-title">Понедельник</div>
                                    <div>
                                        19:30 - 20:30
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inv-day-item">
                                    <div class="inv-day-title">Вторник</div>
                                    <div>
                                        19:30 - 20:30
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inv-day-item">
                                    <div class="inv-day-title">Среда</div>
                                    <div>
                                        19:30 - 20:30
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inv-day-item">
                                    <div class="inv-day-title">Четверг</div>
                                    <div>
                                        19:30 - 20:30
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="block row">
                    <div class="col">
                        <a class="button button-fill button-big color-yellow" href="#">Тренеры</a>
                    </div>
                    <div class="col">
                        <a class="button button-fill button-big color-yellow" href="#">События</a>
                    </div>
                    <div class="col">
                        <a class="button button-fill button-big color-yellow" href="#">Прайс-лист</a>
                    </div>
                </div>

                <div class="inv-body-title">
                    Адрес
                </div>

                <div class="block mt-0">
                    <a href="/club-item-map/" class="align-content-center">
                        <div class="teaser-iib-additional text-align-center">
                            <i class="material-icons color-yellow vertical-align-middle material-icons-vmargin-fix">location_on</i>
                            ул. Васильченко, 41, Казань, Республика Татарстан, Российская Федерация
                        </div>
                    </a>
                    <a href="/club-item-map/" class="align-content-center">
                        <div class="teaser-iib-additional text-align-center">
                            <i class="material-icons color-yellow vertical-align-middle material-icons-vmargin-fix">location_on</i>
                            ул. Васильченко, 41, Москва, Российская Федерация
                        </div>
                    </a>
                </div>

                <div class="block mt-0 mb-0">
                    <div class="content-divider content-divider-top"></div>
                </div>

                <div class="swiper-slide-icon-wrp">
                    <div class="inv-day-tm">
                        <div data-space-between="0" data-slides-per-view="auto" class="swiper-container swiper-init">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-icon js-modal-info">
                                    <div class="swiper-slide-icon-item" title="Сауна">
                                        <img src="../images/icon-sauna.png" class="swiper-slide-icon-image" data-icon="sauna" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-icon js-modal-info">
                                    <div class="swiper-slide-icon-item" title="Перетяжка струн">
                                        <img src="../images/icon-hauling-strings.png" class="swiper-slide-icon-image" data-icon="hauling-strings" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-icon js-modal-info">
                                    <div class="swiper-slide-icon-item" title="Парковка для велосипедов">
                                        <img src="../images/icon-bicycle-parking.png" class="swiper-slide-icon-image" data-icon="bicycle-parking" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-icon js-modal-info">
                                    <div class="swiper-slide-icon-item" title="Бар/меню">
                                        <img src="../images/icon-drink.png" class="swiper-slide-icon-image" data-icon="drink" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-icon js-modal-info">
                                    <div class="swiper-slide-icon-item" title="Кулер с водой">
                                        <img src="../images/icon-water-cooler.png" class="swiper-slide-icon-image" data-icon="water-cooler" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block mt-0 mb-0">
                    <div class="content-divider content-divider-bottom"></div>
                </div>

                <div class="block">
                    <p> Пять комбинированных стрелковых площадок Sporting Club обеспечивают
                        комфортные условия для тренировки любителей, охотников и спортсменов.</p>
                    <p>На этих площадках можно проводить  соревнования по стендовой стрельбе
                        на международном уровне. В 2008 году в Sporting Club прошел
                        Финал Кубка мира по стендовой стрельбе.</p>
                </div>

                <div class="block mt-0 mb-0">
                    <div class="content-divider"></div>
                </div>

                <div class="list list-short-sm no-hairline no-hairlines-between">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media">
                                    <div class="swiper-slide swiper-slide-icon js-modal-info">
                                        <div class="swiper-slide-icon-item" title=" Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
                                            <img src="../images/icon-average-price.png" class="swiper-slide-icon-image" data-icon="average-price" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="item-text">RUB 12</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media">
                                    <div class="swiper-slide swiper-slide-icon js-modal-info">
                                        <div class="swiper-slide-icon-item" title=" Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
                                            <img src="../images/icon-site.png" class="swiper-slide-icon-image" data-icon="site" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="item-text">www.sportivny-sport.ru</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="tel:+78127777777">
                                <div class="item-content">
                                        <div class="item-media">
                                        <div class="swiper-slide swiper-slide-icon js-modal-info">
                                            <div class="swiper-slide-icon-item" title=" Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
                                                <img src="../images/icon-phone.png" class="swiper-slide-icon-image" data-icon="phone" alt="">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="item-inner player-info-teaser-wrap">
                                            <div class="item-text">+7 (812) 7-777-777</div>
                                        </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/club-item-map/" class="item-content">
                                <div class="item-media">
                                    <div class="swiper-slide swiper-slide-icon js-modal-info">
                                        <div class="swiper-slide-icon-item" title=" Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
                                            <img src="../images/icon-metro.png" class="swiper-slide-icon-image" data-icon="metro" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="item-text">ст.м. Площадь Восстания</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media">
                                    <div class="swiper-slide swiper-slide-icon js-modal-info">
                                        <div class="swiper-slide-icon-item" title=" Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
                                            <img src="../images/icon-organization.png" class="swiper-slide-icon-image" data-icon="organization" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="item-text">Бизнес-центр &laquo;Пропаганда&raquo;</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media">
                                    <div class="swiper-slide swiper-slide-icon js-modal-info">
                                        <div class="swiper-slide-icon-item" title=" Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
                                            <img src="../images/icon-user-new.png" class="swiper-slide-icon-image" data-icon="user-new" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="item-text">Центр Ивана Ивановича</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="content-divider-transparent"></div>

                <div class="block">
                    <div class="mb-xxs"><a class="button button-fill button-big color-yellow" href="#">Проложить маршрут</a></div>
                    <div><a class="button button-outline color-white text-color-black button-big" href="#">Поправить точку</a></div>
                </div>

                <div class="content-divider-transparent"></div>

                <div class="inv-body-title">
                    Отзывы
                </div>

                <div class="list list-indent list-borter-top media-list chevron-center">
                    <ul>
                        <li>
                            <a href="/club-item-rating/" class="item-link item-content page-player-teaser">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/icon-user-new-big.png" alt="Антон Одинцов" class="player-photo-item icon-usericon" style="width: 70px;" width="70">
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-text">
                                            Добавьте Ваш отзыв<br>
                                            <div class="player-rating player-rating-big">
                                                <div class="player-rating-star"></div>
                                                <div class="player-rating-star"></div>
                                                <div class="player-rating-star"></div>
                                                <div class="player-rating-star"></div>
                                                <div class="player-rating-star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="item-content page-player-teaser">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/icon-user-new.png" alt="Антон Одинцов" class="player-photo-item icon-usericon" style="width: 29px;" width="29">
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-title-row">
                                            <div class="item-subtitle">20 сентября 2018</div>
                                            <div class="item-after"><div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="item-text player-comment">
                                        <p>Одно из приоритетных направлений воспитательной работы в
                                            нашей школе п. Верхнебаканского является работа с семьёй. У педагогов и родителей цель одна – воспитание здоровой, всесторонне развитой личности.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content page-player-teaser">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/icon-user-new.png" alt="Антон Одинцов" class="player-photo-item icon-usericon" style="width: 29px;" width="29">
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-title-row">
                                            <div class="item-subtitle">20 сентября 2018</div>
                                            <div class="item-after"><div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="item-text player-comment">
                                        <p>Одно из приоритетных направлений воспитательной работы в
                                            нашей школе п. Верхнебаканского является работа с семьёй. У педагогов и родителей цель одна – воспитание здоровой, всесторонне развитой личности.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content page-player-teaser">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-title-row">
                                            <div class="item-subtitle">20 сентября 2018</div>
                                            <div class="item-after"><div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="item-text player-comment">
                                        <p>Одно из приоритетных направлений воспитательной работы в
                                            нашей школе п. Верхнебаканского является работа с семьёй. У педагогов и родителей цель одна – воспитание здоровой, всесторонне развитой личности.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content page-player-teaser">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/icon-user-new.png" alt="Антон Одинцов" class="player-photo-item icon-usericon" style="width: 29px;" width="29">
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-title-row">
                                            <div class="item-subtitle">20 сентября 2018</div>
                                            <div class="item-after"><div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                            </div></div>
                                        </div>
                                    </div>
                                    <div class="item-text player-comment">
                                        <p>Одно из приоритетных направлений воспитательной работы в
                                            нашей школе п. Верхнебаканского является работа с семьёй. У педагогов и родителей цель одна – воспитание здоровой, всесторонне развитой личности.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="block mb-0">
                    <div><a class="button button-fill button-big color-yellow" href="/club-item-rating/">Оставить отзыв</a></div>
                </div>

            </div>
        </div>

    </div>

</div>
