<div class="page" data-name="club-item-rating">

    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                Добавить отзыв на Клуб клуб клуб
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md">
        <div class="toolbar-inner">
            <button class="col button button-big button-fill color-yellow">Добавить отзыв</button>
        </div>
    </div>

    <div class="page-content">
        <form class="list" id="my-form">
            <div class="list no-hairlines-md ">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner list-teaser-big">
                            <div class="item-input-wrap">
                                <div class="item-title item-label text-color-yellow">Ваша оценка</div>
                                <div class="align-content-center">
                                    <div class="player-rating player-rating-big js-player-rating">
                                        <div class="player-rating-star active"></div>
                                        <div class="player-rating-star active"></div>
                                        <div class="player-rating-star active"></div>
                                        <div class="player-rating-star active"></div>
                                        <div class="player-rating-star active"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <div class="item-title item-label text-color-yellow">Имя</div>
                                <input type="text">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label text-color-yellow">Ваш отзвы</div>
                            <div class="item-input-wrap">
                                <textarea class="resizable"></textarea>
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>

    </div>
</div>
