<div class="page pt-0 invitation-pg" data-name="club-item">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                Карта
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md">
        <div class="toolbar-inner">
            <button class="col button button-big button-fill color-gray">Добавить точку</button>
            <button class="col button button-big button-fill color-yellow">Проложить маршрут</button>
        </div>
    </div>

    <div class="page-content">

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2245.049333882583!2d37.6327941!3d55.7576452!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5f1ae8c323%3A0xe30d9a127264307d!2z0YPQuy4g0JzQsNGA0L7RgdC10LnQutCwLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTAxMDAw!5e0!3m2!1sru!2sby!4v1501704025928" width="100vw" height="100vh" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>

</div>
