<div class="page" data-name="enter">
    <div class="page-content">
        <div class="swiper-container swiper-fullscreen js-swiper-bg-init">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('../images/bg-enter-1.jpg');"></div>
                <div class="swiper-slide" style="background-image: url('../images/bg-enter-2.jpg');"></div>
            </div>
        </div>

        <div class="page-enter-content">
            <div class="page-enter-equal"></div>
            <div class="page-enter-equal"></div>
            <div class="page-enter-equal"></div>
            <div class="page-enter-equal"></div><!-- Столько надо чтобы лого выравнивалось по центру ) -->
            <div class="page-enter-logo">
                <div class="logo-slogan"></div>
            </div>
            <div class="page-enter-form">
                <div class="block">
                    <button class="button button-fill button-xl color-yellow"><i class="icon icon-svg-sign-in vertical-align-middle"></i><span class="vertical-align-middle">Войти</span></button>
                    <button class="button button-fill button-xl bg-color-fb"><i class="icon icon-svg-facebook vertical-align-middle"></i><span class="vertical-align-middle">Ваш аккаунт в FB</span></button>
                    <button class="button button-fill button-big bg-transparent"><span class="vertical-align-middle">Регистрация</span></button>
                    <div class="page-enter-notify">
                        By signing up, I agree to MatchDate' Terms of Service,<br> <a href="#">Privact Policy</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
