<div class="page" data-name="event-list">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                События
            </div>
            <div class="right">
                <a class="link icon-only searchbar-enable" data-searchbar=".js-searchbar-init">
                    <i class="icon material-icons">search</i>
                </a>

            </div>
            <form data-search-container=".list-events-timeline" data-search-in=".timeline-item-title" class="searchbar searchbar-expandable searchbar-init js-searchbar-init">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Найти"/>
                        <i class="searchbar-icon"></i>
                        <span class="searchbar-close-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Отмена</span>
                </div>
            </form>
        </div>
    </div>

    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <!--<a href="#" data-sheet=".sheet-datepicker" class="tab-link tab-link-active sheet-open"><span><span id="picker-date-label">27.07.18</span> <i class="material-icons caret">arrow_drop_down</i></span><div class="d-n"><div><input type="hidden" id="picker-date-item" readonly="readonly" value="27.07.18"></div></div></a>-->
            <a href="#" id="sheet-calendar" class="tab-link tab-link-active"><span><span id="sheet-calendar-label">27.07.18</span> <i class="material-icons caret">arrow_drop_down</i></span><div class="d-n"><div><input type="hidden" id="picker-date-item" readonly="readonly" value="27.07.18"></div></div></a>
            <a href="#" class="tab-link">Сегодня</a>
        </div>
    </div>

    <div class="page-content page-event-list">
        <div class="searchbar-backdrop"></div>
        <div class="event-list">
            <div class="list simple-list searchbar-not-found">
                <ul>
                    <li>Ничего не найдено</li>
                </ul>
            </div>
            <div class="list list-short-sm no-hairline no-hairlines-between timeline list-events-timeline search-list searchbar-found">
                <ul>
                    <li class="swipeout opacity">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-red">Отменено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout current">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-green">Подтверждено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout free">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="timeline-item-title">Время свободно</div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-yellow">Свободно</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-green">Подтверждено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-red">Отменено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-green">Подтверждено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-red">Отменено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-green">Подтверждено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-red">Отменено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-green">Подтверждено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-red">Отменено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <div class="item-content">
                                <div class="timeline-item">
                                    <div class="timeline-item-date">10:00</div>
                                    <div class="timeline-item-content">
                                        <div class="timeline-item-inner">
                                            <div class="d-f w-p100">
                                                <div class="event-list-title timeline-item-title">Александр Светличников</div>
                                                <div class="event-list-photo"><img src="../images/bung-event-list-photo.jpg" alt="Александр Светличников"></div>
                                            </div>
                                            <div class="timeline-item-text">
                                                <div class="d-f w-p100">
                                                    <div class="event-descr-icon">
                                                        <i class="material-icons color-yellow">location_on</i>
                                                    </div>
                                                    <div class="event-descr-text">
                                                        Клуб Danube Original в Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-item-footer bg-color-green">Подтверждено</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swipeout-actions-left">
                            <a href="#">Action 1</a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">Delete</a>
                        </div>
                    </li>
                    <li class="small">
                        <div class="item-content">
                            <div class="timeline-item">
                                <div class="timeline-item-date">10:30</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <div class="sheet-modal sheet-datepicker">
        <div class="toolbar">
            <div class="toolbar-inner">
                <div class="left">
                    <a href="#" class="link icon-only"><i class="material-icons icon">keyboard_arrow_up</i></a>
                    <a href="#" class="link icon-only"><i class="material-icons icon">keyboard_arrow_down</i></a>
                </div>
                <div class="right"><a class="link sheet-close" href="#">Далее</a></div>
            </div>
        </div>
        <div class="sheet-modal-inner">
            <div class="block">
                <div id="picker-date-container"></div>
            </div>
        </div>
    </div>

</div>
