<div class="page pt-0 invitation-pg" data-name="invitation">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                Приглашение
            </div>
        </div>
    </div>


    <div class="tabs-swipeable-wrap">
        <div class="tabs">

            <div id="invite-1" class="tab tab-active">

                <div class="page-content">
                    <div class="wrap-content-indents invitation">
                        <div class="inv-header inv-header-left photo-round">
                            <div class="inv-header-inner">
                                <div class="inv-ava-foto-o">
                                    <div class="inv-ava-foto">
                                        <img src="../images/bung-big-photo.jpg" class="inv-ava-foto-item" alt="Антон Одинцов">
                                    </div>
                                </div>
                                <div class="inv-status inv-status-red">
                                    Травмирован
                                </div>
                                <div class="inv-foto-cover">
                                    <div>
                                        <div class="inv-name-wrp">
                                            <div class="inv-name">Антон Одинцов</div>
                                            <div>Теннис, Новичок, 35 лет</div>
                                            <div>
                                                <i class="material-icons">location_on</i>
                                                Клуб Danube
                                            </div>
                                        </div>
                                        <div class="inv-payment">
                                            <div class="row">
                                                <div class="col inv-item-feat">
                                                    <strong> Оплата</strong>
                                                    <span>50/50</span>
                                                </div>
                                                <div class="col inv-item-feat">
                                                    <strong> Стоимость:</strong>
                                                    <span>$10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inv-body inv-body-indents">


                            <ul class="temp-del" style="background: #009900;padding: 16px 32px;margin: 32px 16px;">
                                <li><a href="#" data-popup=".popup-about" class="popup-open" style="color: #ffffff;">.popup-about</a></li>
                            </ul>


                            <div class="inv-body-title">
                                Выберите время для игры:
                            </div>
                            <div class="inv-day-tm">
                                <!--<div data-space-between="3" data-slides-per-view="auto" data-centered-slides="true" class="swiper-container swiper-init">-->
                                <div data-space-between="0" data-slides-per-view="auto" class="swiper-container swiper-init">
                                    <div class="swiper-wrapper inv-day-list">
                                        <div class="swiper-slide">
                                            <div class="inv-day-item active">
                                                <div class="inv-day-title">Вторник</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inv-footer">
                            <div class="row no-gap">
                                <a href="#" class="col link link-lg text-color-red text-align-center"><i class="material-icons">clear</i></a>
                                <a href="#" class="col link link-lg text-color-black text-align-center"><i class="material-icons">chat_bubble</i></a>
                                <a href="#" class="col link link-lg text-color-green text-align-center"><i class="material-icons">done</i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="invite-2" class="tab">

                <div class="page-content">
                    <div class="wrap-content-indents invitation">
                        <div class="inv-header inv-header-left">
                            <div class="inv-header-inner">
                                <div class="inv-ava-foto">
                                    <img src="../images/bung-big-photo.jpg" class="inv-ava-foto-item" alt="Антон Одинцов">
                                </div>
                                <div class="inv-status inv-status-red">
                                    Травмирован
                                </div>
                                <div class="inv-foto-cover">
                                    <div>
                                        <div class="inv-name-wrp">
                                            <div class="inv-name">Антон Одинцов</div>
                                            <div>Теннис, Новичок, 35 лет</div>
                                            <div>
                                                <i class="material-icons">location_on</i>
                                                Клуб Danube
                                            </div>
                                        </div>
                                        <div class="inv-payment">
                                            <div class="row">
                                                <div class="col inv-item-feat">
                                                    <strong> Оплата</strong>
                                                    <span>50/50</span>
                                                </div>
                                                <div class="col inv-item-feat">
                                                    <strong> Стоимость:</strong>
                                                    <span>$10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inv-body inv-body-indents">
                            <div class="inv-body-title">
                                Выберите время для игры:
                            </div>
                            <div class="inv-day-tm">
                                <!--<div data-space-between="3" data-slides-per-view="auto" data-centered-slides="true" class="swiper-container swiper-init">-->
                                <div data-space-between="0" data-slides-per-view="auto" class="swiper-container swiper-init">
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-wrapper inv-day-list">
                                        <div class="swiper-slide">
                                            <div class="inv-day-item active">
                                                <div class="inv-day-title">Вторник</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inv-footer">
                            <div class="row no-gap">
                                <a href="#" class="col link link-lg text-color-red text-align-center"><i class="material-icons">clear</i></a>
                                <a href="#" class="col link link-lg text-color-black text-align-center"><i class="material-icons">chat_bubble</i></a>
                                <a href="#" class="col link link-lg text-color-green text-align-center"><i class="material-icons">done</i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="invite-3" class="tab">


                <div class="page-content">
                    <div class="wrap-content-indents invitation">
                        <div class="inv-header inv-header-left">
                            <div class="inv-header-inner">
                                <div class="inv-ava-foto">
                                    <img src="../images/bung-big-photo.jpg" class="inv-ava-foto-item" alt="Антон Одинцов">
                                </div>
                                <div class="inv-status inv-status-red">
                                    Травмирован
                                </div>
                                <div class="inv-foto-cover">
                                    <div>
                                        <div class="inv-name-wrp">
                                            <div class="inv-name">Антон Одинцов</div>
                                            <div>Теннис, Новичок, 35 лет</div>
                                            <div>
                                                <i class="material-icons">location_on</i>
                                                Клуб Danube
                                            </div>
                                        </div>
                                        <div class="inv-payment">
                                            <div class="row">
                                                <div class="col inv-item-feat">
                                                    <strong> Оплата</strong>
                                                    <span>50/50</span>
                                                </div>
                                                <div class="col inv-item-feat">
                                                    <strong> Стоимость:</strong>
                                                    <span>$10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inv-body inv-body-indents">
                            <div class="inv-body-title">
                                Выберите время для игры:
                            </div>
                            <div class="inv-day-tm">
                                <!--<div data-space-between="3" data-slides-per-view="auto" data-centered-slides="true" class="swiper-container swiper-init">-->
                                <div data-space-between="0" data-slides-per-view="auto" class="swiper-container swiper-init">
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-wrapper inv-day-list">
                                        <div class="swiper-slide">
                                            <div class="inv-day-item active">
                                                <div class="inv-day-title">Вторник</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="inv-day-item">
                                                <div class="inv-day-title">Пятница</div>
                                                <div>
                                                    25 Июля 2018<br>
                                                    19:30 - 20:30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inv-footer">
                            <div class="row no-gap">
                                <a href="#" class="col link link-lg text-color-red text-align-center"><i class="material-icons">clear</i></a>
                                <a href="#" class="col link link-lg text-color-black text-align-center"><i class="material-icons">chat_bubble</i></a>
                                <a href="#" class="col link link-lg text-color-green text-align-center"><i class="material-icons">done</i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="popup popup-about">

        <div class="view view-main view-init ios-edges">
            <!-- Initial Page, "data-name" contains page name -->
            <div data-name="home" class="page">

                <div class="navbar">
                    <div class="navbar-inner sliding">
                        <div class="left">
                            <a href="#" class="link popup-close">
                                <i class="icon icon-svg-back"></i>
                            </a>
                        </div>
                        <div class="title">
                            Записаться
                        </div>
                    </div>
                </div>

                <div class="toolbar toolbar-bottom-md">
                    <div class="toolbar-inner">
                        <button class="col button button-big button-fill color-gray popup-close">Отмена</button>
                        <button class="col button button-big button-fill color-yellow">Применить</button>
                    </div>
                </div>

                <div class="page-content">
                    <div class="block pl-0 pr-0">
                        <div class="list no-hairlines-md ">
                            <ul>
                                <li >
                                    <a href="#" class="item-link smart-select smart-select-init" data-open-in="sheet">
                                        <select name="clubs2" id="clubs2" multiple>
                                            <option value="1">PRO</option>
                                            <option value="2">Лига</option>
                                            <option value="3">Теорема</option>
                                            <option value="4">Пандора</option>
                                        </select>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">Мои клубы</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li >
                                    <!--<div class="block-title">Выберите день</div>-->
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-input-wrap">
                                                <input type="text" placeholder="Выберите день" readonly="readonly" id="demo-calendar-modal"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content bord-bt">
                                        <div class="item-inner d-block">
                                            <div class="item-title pt-10">Выберите время</div>
                                            <div id="times"><!-- Если его надо скрывать, то давай еще один тег. Но не нарушай классы. Отступы левые появляются. -->
                                                <div class="item-after d-block">
                                                    <div class="radio_buttons">
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_0" />
                                                            <label for="idtimes_0">любой</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_1" />
                                                            <label for="idtimes_1">8-9</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_2" />
                                                            <label for="idtimes_2">9-10</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_3" />
                                                            <label for="idtimes_3">10-11</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_4" />
                                                            <label for="idtimes_4">11-12</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_5" />
                                                            <label for="idtimes_5">12-13</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_6" />
                                                            <label for="idtimes_6">13-14</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_7" />
                                                            <label for="idtimes_7">14-15</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_8" />
                                                            <label for="idtimes_8">15-16</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_9" />
                                                            <label for="idtimes_9">16-17</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_10" />
                                                            <label for="idtimes_10">17-18</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_11" />
                                                            <label for="idtimes_11">18-19</label>
                                                        </div>
                                                        <div class="radio_buttons-item">
                                                            <input type="checkbox" name="option" id="idtimes_12" />
                                                            <label for="idtimes_12">20-21</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



    </div>

</div>
