<div class="page" data-name="main">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon icon-svg-menu"></i>
                </a>
            </div>
            <div class="title">
                <div class="header-logo header-logo-sm">MatchDate</div>
            </div>
            <div class="right">
                <a href="#" class="link">
                    <i class="icon icon-svg-user-add"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md">
        <div class="toolbar-inner">
            <button class="col button button-big button-fill color-yellow"><i class="icon micon icon-tennis"></i> Начать</button>
        </div>
    </div>


    <div class="page-content">

        <div class="teaser-iib-swiper-main">
            <div data-space-between="8" class="swiper-container swiper-init" data-slides-per-view="auto">
                <div class="swiper-wrapper">
                    <div class="swiper-slide teaser-iib-item">
                        <a href="#" class="teaser-image-in-bg">
                            <div class="teaser-iib-image"><img src="../images/bung-main-1.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <div class="teaser-iib-tags">Событие</div>
                            <div class="teaser-iib-descr">
                                <div>
                                    <div class="teaser-iib-title">Ежегодный теннисный турнир<br>
                                        «Белые Ночи» — 22 июня</div>
                                    <div class="teaser-iib-additional">
                                        <i class="material-icons color-yellow">location_on</i>
                                        Клуб Danube
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide teaser-iib-item">
                        <a href="#" class="teaser-image-in-bg">
                            <div class="teaser-iib-image"><img src="../images/bung-main-2.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <div class="teaser-iib-tags">Событие</div>
                            <div class="teaser-iib-descr">
                                <div>
                                    <div class="teaser-iib-title">Ежегодный теннисный турнир<br>
                                        «Белые Ночи» — 22 июня</div>
                                    <div class="teaser-iib-additional">
                                        <i class="material-icons color-yellow">location_on</i>
                                        Клуб Danube
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide teaser-iib-item">
                        <a href="#" class="teaser-image-in-bg">
                            <div class="teaser-iib-image"><img src="../images/bung-main-1.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <div class="teaser-iib-tags">Событие</div>
                            <div class="teaser-iib-descr">
                                <div>
                                    <div class="teaser-iib-title">Ежегодный теннисный турнир<br>
                                        «Белые Ночи» — 22 июня</div>
                                    <div class="teaser-iib-additional">
                                        <i class="material-icons color-yellow">location_on</i>
                                        Клуб Danube
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide teaser-iib-item">
                        <a href="#" class="teaser-image-in-bg">
                            <div class="teaser-iib-image"><img src="../images/bung-main-2.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <div class="teaser-iib-tags">Событие</div>
                            <div class="teaser-iib-descr">
                                <div>
                                    <div class="teaser-iib-title">Ежегодный теннисный турнир<br>
                                        «Белые Ночи» — 22 июня</div>
                                    <div class="teaser-iib-additional">
                                        <i class="material-icons color-yellow">location_on</i>
                                        Клуб Danube
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide teaser-iib-item">
                        <a href="#" class="teaser-image-in-bg">
                            <div class="teaser-iib-image"><img src="../images/bung-main-1.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <div class="teaser-iib-tags">Событие</div>
                            <div class="teaser-iib-descr">
                                <div>
                                    <div class="teaser-iib-title">Ежегодный теннисный турнир<br>
                                        «Белые Ночи» — 22 июня</div>
                                    <div class="teaser-iib-additional">
                                        <i class="material-icons color-yellow">location_on</i>
                                        Клуб Danube
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide teaser-iib-item">
                        <a href="#" class="teaser-image-in-bg">
                            <div class="teaser-iib-image"><img src="../images/bung-main-2.jpg" alt="Ежегодный теннисный турнир «Белые Ночи» — 22 июня"></div>
                            <div class="teaser-iib-tags">Событие</div>
                            <div class="teaser-iib-descr">
                                <div>
                                    <div class="teaser-iib-title">Ежегодный теннисный турнир<br>
                                        «Белые Ночи» — 22 июня</div>
                                    <div class="teaser-iib-additional">
                                        <i class="material-icons color-yellow">location_on</i>
                                        Клуб Danube
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="big-links-list">
                <div class="row">
                    <div class="col-100 tablet-50">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="big-links-wrp">
                                    <div class="big-links big-links-vertical">
                                        <div class="big-links-image"><img src="../images/main-player.jpg" alt="Игроки"></div>
                                        <div class="big-links-label">Игроки</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="big-links-wrp">
                                    <div class="big-links big-links-vertical">
                                        <div class="big-links-image"><img src="../images/main-traner.jpg" alt="Тренеры"></div>
                                        <div class="big-links-label">Тренеры</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="#" class="big-links-wrp">
                                    <div class="big-links big-links-horizontal">
                                        <div class="big-links-label">Клубы</div>
                                        <div class="big-links-image"><img src="../images/main-club.jpg" alt="Клубы"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-100 tablet-50">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="big-links-wrp">
                                    <div class="big-links big-links-vertical">
                                        <div class="big-links-image"><img src="../images/main-invite.jpg" alt="Приглашения"><span class="badge color-red">25</span></div>
                                        <div class="big-links-label">Приглашения</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="big-links-wrp">
                                    <div class="big-links big-links-vertical">
                                        <div class="big-links-image"><img src="../images/main-messages.jpg" alt="Сообщения"><span class="badge color-red">1</span></div>
                                        <div class="big-links-label">Сообщения</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="#" class="big-links-wrp">
                                    <div class="big-links big-links-horizontal">
                                        <div class="big-links-label">Игры</div>
                                        <div class="big-links-image"><img src="../images/main-game.jpg" alt="Игры"><span class="badge color-red">5</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
