<div class="page" data-name="player-list">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                Поиск игрока
            </div>
            <div class="right">
                <a href="#" class="link">
                    <i class="icon icon-svg-filter"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a href="#tab-1" class="tab-link tab-link-active">Мне</a>
            <a href="#tab-2" class="tab-link">Мои</a>
            <a href="#tab-3" class="tab-link">История</a>
        </div>
    </div>

    <div class="fab fab-right-bottom color-red">
        <a href="#">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div class="tabs">

        <div class="page-content page-player-list inv-body tab tab-active" id="tab-1">
            <div class="list list-indent list-borter-top media-list chevron-center">
                <ul>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <a href="#" class="item-link item-content page-player-teaser item-inner-has-bage item-inner-has-bage-yellow">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/bung-list-prev.png" alt="Антон Одинцов" class="player-photo-item" width="65">
                                        <div class="item-is-bage item-is-bage-red">
                                            Травмa
                                        </div>
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-text">
                                            Новичок, 35 лет<br>
                                            <img src="/images/icon-tennis.png" alt="Теннис" class="icon-sport"> 25 матчей<br>
                                            <div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                                <div class="player-rating-star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="swipeout-actions-left">
                                <a href="#">Action 1</a>
                                <a href="#">Action 2</a>
                            </div>
                            <div class="swipeout-actions-right">
                                <a href="#" class="swipeout-close">Action 1</a>
                                <a href="#" class="swipeout-delete">Delete</a>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <a href="#" class="item-link item-content page-player-teaser">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/bung-list-prev.png" alt="Антон Одинцов" class="player-photo-item" width="65">
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-text">
                                            Новичок, 35 лет<br>
                                            <img src="/images/icon-tennis.png" alt="Теннис" class="icon-sport"> 25 матчей<br>
                                            <div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="swipeout-actions-left">
                                <a href="#">Action 1</a>
                                <a href="#">Action 2</a>
                            </div>
                            <div class="swipeout-actions-right">
                                <a href="#" class="swipeout-close">Action 1</a>
                                <a href="#" class="swipeout-delete">Delete</a>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <a href="#" class="item-link item-content page-player-teaser item-inner-has-bage item-inner-has-bage-yellow">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-text">
                                            Новичок, 35 лет<br>
                                            <img src="/images/icon-tennis.png" alt="Теннис" class="icon-sport"> 25 матчей<br>
                                            <div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                                <div class="player-rating-star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="swipeout-actions-left">
                                <a href="#">Action 1</a>
                                <a href="#">Action 2</a>
                            </div>
                            <div class="swipeout-actions-right">
                                <a href="#" class="swipeout-close">Action 1</a>
                                <a href="#" class="swipeout-delete">Delete</a>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <a href="#" class="item-link item-content page-player-teaser item-inner-has-bage item-inner-has-bage-yellow">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/bung-list-prev.png" alt="Антон Одинцов" class="player-photo-item" width="65">
                                        <div class="item-is-bage item-is-bage-red">
                                            Травмa
                                        </div>
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-text">
                                            Новичок, 35 лет<br>
                                            <img src="/images/icon-tennis.png" alt="Теннис" class="icon-sport"> 25 матчей<br>
                                            <div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                                <div class="player-rating-star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="swipeout-actions-left">
                                <a href="#">Action 1</a>
                                <a href="#">Action 2</a>
                            </div>
                            <div class="swipeout-actions-right">
                                <a href="#" class="swipeout-close">Action 1</a>
                                <a href="#" class="swipeout-delete">Delete</a>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <a href="#" class="item-link item-content page-player-teaser item-inner-has-bage item-inner-has-bage-yellow">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/bung-list-prev.png" alt="Антон Одинцов" class="player-photo-item" width="65">
                                        <div class="item-is-bage item-is-bage-red">
                                            Травмa
                                        </div>
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-text">
                                            Новичок, 35 лет<br>
                                            <img src="/images/icon-tennis.png" alt="Теннис" class="icon-sport"> 25 матчей<br>
                                            <div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                                <div class="player-rating-star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="swipeout-actions-left">
                                <a href="#">Action 1</a>
                                <a href="#">Action 2</a>
                            </div>
                            <div class="swipeout-actions-right">
                                <a href="#" class="swipeout-close">Action 1</a>
                                <a href="#" class="swipeout-delete">Delete</a>
                            </div>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content">
                            <a href="#" class="item-link item-content page-player-teaser item-inner-has-bage item-inner-has-bage-yellow">
                                <div class="item-inner player-info-teaser-wrap">
                                    <div class="player-photo-teaser">
                                        <img src="/images/bung-list-prev.png" alt="Антон Одинцов" class="player-photo-item" width="65">
                                        <div class="item-is-bage item-is-bage-red">
                                            Травмa
                                        </div>
                                    </div>
                                    <div class="player-info-teaser">
                                        <div class="item-title">Антон Одинцов</div>
                                        <div class="item-text">
                                            Новичок, 35 лет<br>
                                            <img src="/images/icon-tennis.png" alt="Теннис" class="icon-sport"> 25 матчей<br>
                                            <div class="player-rating">
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star active"></div>
                                                <div class="player-rating-star half"></div>
                                                <div class="player-rating-star"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="swipeout-actions-left">
                                <a href="#">Action 1</a>
                                <a href="#">Action 2</a>
                            </div>
                            <div class="swipeout-actions-right">
                                <a href="#" class="swipeout-close">Action 1</a>
                                <a href="#" class="swipeout-delete">Delete</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-content page-player-list inv-body tab" id="tab-2">
            <div class="block">
                <p><b>Tab 2 content</b></p>
                ...
            </div>
        </div>

        <div class="page-content page-player-list inv-body tab" id="tab-3">
            <div class="block">
                <p><b>Tab 3 content</b></p>
                ...
            </div>
        </div>
    </div>

</div>
