<div class="page" data-name="preloader">

    <div class="app-preloader">
        <div>
            <img src="../images/logo-inv@2x.png" alt="MatchDate">
            <!--<div class="preloader color-yellow"></div>-->
            <div class="preloader-inlist">
                <div class="preloader-inlist-loader"></div>
            </div>
        </div>
    </div>

    <div class="navbar has-app-preloader">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                MatchDate
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md toolbar-progress has-app-preloader">
        <div class="toolbar-inner">
            <a class="link ml-a" href="/registration-3/">
                <strong>Далее</strong>
                <span class="material-icons">trending_flat</span>
            </a>
        </div>
    </div>

    <div class="page-content has-app-preloader">
        <form class="list" id="my-form">
            <div class="list no-hairlines-md ">
                <div class="list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Ivan Petrov</div>
                                    <div class="item-after text-color-yellow">CEO</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">John Doe</div>
                                    <div class="item-after"> <span class="badge color-red">5</span></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Jenna Smith</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>

    </div>
</div>
