<div class="page" data-name="registration-1">
    <div class="navbar navbar-logo">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                <div class="header-logo">MatchDate</div>
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md toolbar-progress toolbar-progress-only">
        <div class="toolbar-progress-inner">
            <span class="toolbar-progress-link toolbar-progress-link-active"></span>
            <span class="toolbar-progress-link"></span>
            <span class="toolbar-progress-link"></span>
        </div>
    </div>

    <div class="page-content page-navbar-logo">
        <form id="my-form1">
            <div class="list no-hairlines-md ">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <div class="item-title item-label text-color-yellow">Введите номер телефона</div>
                                <input type="tel" placeholder="+7ХХХХХХХХХХ">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input type="password" placeholder="Введите пароль">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>

                    <li class="cheks-line">
                        <label class="item-checkbox item-content item-content-bdb-full">
                            <input type="checkbox" name="demo-checkbox" value="Забыл пароль или первый раз"/>
                            <i class="icon icon-checkbox"></i>
                            <div class="item-inner">
                                <div class="item-title">Забыл пароль или первый раз</div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="block">
                <button class="button button-fill bg-color-yellow color-yellow">Получить СМС</button>
            </div>
            <div class="list no-hairlines-md ">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label text-color-yellow">Введите код из СМС</div>
                            <div class="item-input-wrap">
                                <input type="text" placeholder="ХХХХХ">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="block">
                <button class="button button-fill bg-color-yellow color-yellow">Проверить код</button>
            </div>

            <div class="block">
            <div class="border-block">
                <p class="text-align-center">Далее продолжить через</p>
                <div class="block">
                    <button class="button button-fill bg-color-blue">Ваш аккаунт в FB</button>
                </div>
                <p class="text-align-center">или</p>
                <div class="block">
                    <button class="button button-fill bg-color-yellow color-yellow">Зарегистрироваться
                        <span class="material-icons vertical-align-middle">trending_flat</span></button>
                </div>
            </div>
            </div>



        </form>
    </div>
</div>
