<div class="page" data-name="registration-3">
    <div class="navbar navbar-logo">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                <div class="header-logo">MatchDate</div>
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md toolbar-progress">
        <div class="toolbar-inner">
            <a class="link ml-a js-open-alert" href="#">
                <strong>Далее</strong>
                <span class="material-icons">trending_flat</span>
            </a>
        </div>
        <div class="toolbar-progress-inner">
            <span class="toolbar-progress-link toolbar-progress-link-active"></span>
            <span class="toolbar-progress-link toolbar-progress-link-active"></span>
            <span class="toolbar-progress-link"></span>
        </div>
    </div>

    <div class="page-content">
        <form id="my-form">

            <div class="control-photo">
                <a href="#" class="control-photo-add js-open-alert" style="background-image: url('../images/bung-photo-big.jpg')">
                    <div class="control-photo-icons"><span class="material-icons">camera_alt</span></div>
                </a>
                <a href="#" class="control-photo-facebook js-open-alert" style="background-image: url('../images/bung-photo-fb.jpg')">
                    <div class="control-photo-icons"><span class="material-icons">camera_alt</span></div>
                </a>
            </div>

        </form>
    </div>
</div>
