<div class="page" data-name="settings-user-sport">
    <div class="navbar navbar-logo">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-svg-back"></i>
                </a>
            </div>
            <div class="title">
                <div class="header-logo">MatchDate</div>
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md toolbar-progress">
        <div class="toolbar-inner">
            <a class="link ml-a js-open-alert" href="#">
                <strong>Далее</strong>
                <span class="material-icons">trending_flat</span>
            </a>
        </div>
        <div class="toolbar-progress-inner">
            <span class="toolbar-progress-link toolbar-progress-link-active"></span>
            <span class="toolbar-progress-link toolbar-progress-link-active"></span>
            <span class="toolbar-progress-link"></span>
        </div>
    </div>

    <div class="page-content">
        <form id="my-form">
            <div class="list no-hairlines-md ">
                <ul>
                    <!--<li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input type="text" placeholder="Имя">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input type="text" placeholder="Фамилия">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-input-wrap">
                                <input id="autocomplete-city-dropdown-all" type="text" placeholder="Город">
                            </div>
                        </div>
                    </li>-->

                    <!--<li class="item-content item-input-list">
                        <div class="list">
                            <div class="list-item">
                                <a href="#" id="autocomplete-city" class="item-link item-content autocomplete-opener">
                                    <input type="hidden"/>
                                    <div class="item-inner">
                                        <div class="item-title">Город</div>
                                        <div class="item-after">Москва</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>-->

                    <!--<li class="swc">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Пол</div>
                                <div class="item-after">
                                    <div class="radio_buttons radio_buttons-lg radio_buttons-glue">
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="sex" id="check11" checked />
                                            <label for="check11">женский</label>
                                        </div>
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="sex" id="check21" />
                                            <label for="check21">мужской</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>-->

                    <!--<li class="swc">
                        <div class="item-content">
                            <div class="item-inner ">
                                <div class="item-title">Статус</div>
                                <div class="item-after ">
                                    <div class="radio_buttons radio_buttons-lg radio_buttons-glue">
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="status" id="check12" checked />
                                            <label for="check12">тренер</label>
                                        </div>
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="status" id="check22" />
                                            <label for="check22">любитель</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>-->

                    <li>
                        <div class="item-content">
                            <div class="item-inner d-block">
                                <div class="item-title">Теннис</div>
                                <div class="item-after d-block">
                                    <div class="radio_buttons">
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="tennis" id="radio11" checked />
                                            <label for="radio11">новичок</label>
                                        </div>
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="tennis" id="radio21" />
                                            <label for="radio21">М3</label>
                                        </div>
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="tennis" id="radio31" />
                                            <label for="radio31">М2</label>
                                        </div>
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="tennis" id="radio41" />
                                            <label for="radio41">М1</label>
                                        </div>
                                        <div class="radio_buttons-item">
                                            <input type="radio" name="tennis" id="radio51" />
                                            <label for="radio51">PSA</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--type1-->
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-floating-label color-yellow">Стоимость 1 часа, 1 ученик</div>
                            <div class="item-input-wrap">
                                <input type="text">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-floating-label color-yellow">Стоимость 1 часа, 2 ученика</div>
                            <div class="item-input-wrap">
                                <input type="text">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>

                    <!--type2-->
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label color-yellow">Стоимость 1 часа, 1 ученик</div>
                            <div class="item-input-wrap">
                                <input type="text">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label color-yellow">Стоимость 1 часа, 2 ученика</div>
                            <div class="item-input-wrap">
                                <input type="text">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>

                    <!--type3-->
                    <li>
                        <div class="block-title color-white">Стоимость 1 часа</div>
                    </li>

                    <li class="inline-labels item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label color-yellow">1 ученик</div>
                            <div class="item-input-wrap">
                                <input type="text">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>
                    <li class="inline-labels item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label color-yellow">2 ученика</div>
                            <div class="item-input-wrap">
                                <input type="text">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </form>

    </div>
</div>
