<div class="page" data-name="main">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">
                <div class="header-logo header-logo-sm">MatchDate</div>
            </div>
            <div class="right">
                <a href="#" class="link">
                    <i class="icon icon-svg-user-add"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom-md">
        <div class="toolbar-inner">
            <button class="col button button-big button-fill color-yellow"><i class="icon micon icon-tennis"></i> Начать</button>
        </div>
    </div>


    <div class="page-content">

        <div class="list">
            <ul>

                <li>
                    <a class="item-link smart-select smart-select-init">
                        <select name="fruits">
                            <option value="apple" selected>Apple</option>
                            <option value="pineapple">Pineapple</option>
                            <option value="pear">Pear</option>
                            <option value="orange">Orange</option>
                            <option value="melon">Melon</option>
                            <option value="peach">Peach</option>
                            <option value="banana">Banana</option>
                        </select>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Fruit</div>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Open In Popup + Searchbar + Multiple -->
                <li>
                    <a class="item-link smart-select smart-select-init" data-open-in="popup"  data-searchbar="true" data-searchbar-placeholder="Search car">
                        <select name="car" multiple>
                            <optgroup label="Japanese">
                                <option value="honda" selected>Honda</option>
                                <option value="lexus">Lexus</option>
                                <option value="mazda">Mazda</option>
                                <option value="nissan">Nissan</option>
                                <option value="toyota">Toyota</option>
                            </optgroup>
                            <optgroup label="German">
                                <option value="audi" selected>Audi</option>
                                <option value="bmw">BMW</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="vw">Volkswagen</option>
                                <option value="volvo">Volvo</option>
                            </optgroup>
                            <optgroup label="American">
                                <option value="cadillac">Cadillac</option>
                                <option value="chrysler">Chrysler</option>
                                <option value="dodge">Dodge</option>
                                <option value="ford" selected>Ford</option>
                            </optgroup>
                        </select>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Car</div>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Open In Sheet -->
                <li>
                    <a class="item-link smart-select smart-select-init" data-open-in="sheet">
                        <select name="mac-windows">
                            <option value="mac" selected>Mac</option>
                            <option value="windows">Windows</option>
                        </select>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Mac or Windows</div>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Open In Popover -->
                <li>
                    <a class="item-link smart-select smart-select-init" data-open-in="popover">
                        <select name="superhero" multiple>
                            <option value="Batman" selected>Batman</option>
                            <option value="Superman">Superman</option>
                            <option value="Hulk">Hulk</option>
                            <option value="Spiderman">Spiderman</option>
                            <option value="Ironman">Ironman</option>
                            <option value="Thor">Thor</option>
                            <option value="Wonder Woman">Wonder Woman</option>
                        </select>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Super Hero</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
