.md {
  @import (multiple) '../../less/colors-md.less';
  body {
    background: #11a6a6;
    font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
    color: #ffffff;
    line-height: 1.5;
  }
  .ios-only, .if-ios {
    display: none !important;
  }
  a {
    color: @themeColor;
  }
  // Dark Theme
  & when (@includeDarkTheme) {
    .theme-dark {
      color: rgba(255,255,255,0.87);
    }
  }

  .color-theme-loop({
    .color-theme-@{colorThemeName} {
      a {
        color: @colorThemeValue;
      }
    }
  });
  .color-loop({
    a.color-@{colorName} {
      color: @colorValue;
    }
  });
}
