.md {
  @import (multiple) '../../less/colors-md.less';
  @dialogBg: #fff;
  @dialogButonColor : #008c8c;
  @dialogButonBg: @dialogBg;
  .dialog {
    width: 280px;
    margin-left: -140px;
    //border-radius: 4px;
    color: #000;
    background: #fff;
    font-size: 13px;
    line-height: 16 / 13px;
    .elevation(24);
    &.modal-in {
      opacity: 1;
      transform: translate3d(0,0,0) scale(1);
    }
    &.modal-out {
      opacity: 0;
      z-index: 13500-1;
      transform: translate3d(0,0,0) scale(0.815);
    }
  }
  .dialog-inner {
    padding: 24px 24px 20px;
    text-align: center;
  }
  .dialog-title {
    font-size: 22px;
    color: #000;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    + .dialog-text {
      margin-top: 4px;
    }
  }
  .dialog-text {
    line-height: 1.5;
  }
  .dialog-buttons {
    min-height: 44px;
    padding: (22px / 2) 8px;
    overflow: hidden;
    box-sizing:border-box;
    justify-content: center;
  }
  .dialog-buttons-vertical .dialog-buttons{
    //padding: 0 0 8px 0;
    padding: 0 0 0 0;
    .dialog-button {
      margin-left: 0;
      text-align: center;
      min-height: 44px;
      line-height: 22px;
      //border-radius: 0;
      //padding-left: 16px;
      //padding-right: 16px;
      padding: (22px / 2) 8px;
    }
  }
  .dialog-button {
    .button;
    //color:@themeColor;
    color: #008c8c;
    font-size: 17px;
    //border-radius: 4px;
    line-height: 22px;
    min-height: 44px;
    text-align: center;
    //text-transform: uppercase;
    min-width: 64px;
    padding: (22px / 2) 8px;
    border: none;
    transition-duration: 300ms;
    transform: translate3d(0,0,0);
    letter-spacing: 0.03em;
    font-weight: 500;
    border-top: 1px solid #e9e9ea;
    &.active-state {
      background: rgba(0,0,0,0.1);
    }
    &.dialog-button-bold {
      font-weight: 700;
    }
    + .dialog-button {
      margin-left: 4px;
    }
  }

  // Prompt
  .dialog-input {
    height: 36px;
    padding: 0;
    border: none;
    font-size: 16px;
    transition-duration: 200ms;
    position: relative;
    &::placeholder {
      color: rgba(0,0,0,0.35);
    }
    + .dialog-input {
      margin-top: 16px;
    }
  }

  // Preloader
  .dialog-preloader, .dialog-progress {
    .dialog-title, .dialog-inner {
      text-align: center;
    }
  }
  .dialog-preloader {
    .dialog-title ~ .preloader, .dialog-text ~ .preloader {
      margin-top: 20px;
    }
  }
  .dialog-progress {
    .dialog-title ~ .progressbar, .dialog-text ~ .progressbar, .dialog-title ~ .progressbar-infinite, .dialog-text ~ .progressbar-infinite {
      margin-top: 16px;
    }
  }

  .color-loop({
    .dialog-button.color-@{colorName} {
      color: @colorValue;
    }
  });
}
